<HTML>
 <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# shaastra: http://ogp.me/ns/fb/shaastra#">
	<TITLE>Shaastra 2013>>Events>>{{event}}</TITLE>

  <meta property="fb:app_id" content="291744470918252" /> 
  <meta property="og:type"   content="shaastra:event" /> 
  <meta property="og:url"    content="{{site_url}}fb/events/{{event.id}}" /> 
  <meta property="og:title"  content="Event" /> 
  <meta property="og:image"  content="https://s-static.ak.fbcdn.net/images/devsite/attachment_blank.png" /> 
</HEAD>
<BODY>
<div id="sidemenutitle">{{event.title}}<div class="fb-like" data-href="{{site_url}}#events/{{event.id}}" data-send="true" data-width="450" data-show-faces="true"></div></div>
<div id="maincontent"> {{ event_intro|safe }}
</div>
<div class="fb-comments" data-href="{{site_url}}fb/events/{{event.id}}" data-num-posts="2" data-width="470"></div>
<div id="gallery">
    <div id="picture"><img src="{{event.events_logo}}" /></div>
</div>
</BODY>
</HTML>