{% extends "fb/home.html" %}
	{% block header %}
    <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# shaastra: http://ogp.me/ns/fb/shaastra#">
    <TITLE>Shaastra 2013>>Events>>{{event}}</TITLE>
    <meta property="fb:app_id" content="291744470918252" /> 
    <meta property="og:type"   content="object" /> 
    <meta property="og:url"    content="{{site_url}}fb/events/{{event.id}}" /> 
    <meta property="og:title"  content="{{event}}" /> 
    <meta property="og:image"  content="https://s-static.ak.fbcdn.net/images/devsite/attachment_blank.png" /> 
    <meta property="og:description"  content="{{event.mobapptab.text}}" />
    {% endblock %}
    <script type="text/javascript" >
    function rsvp() {
        FB.api('/{{event.fb_event_id}}/attending', 'post', function(response) {
            if(response!=true)
            	alert("We are temporarily unable to send an invitation, kindly use the join button in the event's page.");
        });
    }
    </script>
    </HEAD>
    <BODY>
    	{% block content %}
        <div id="sidemenutitle">
            <a href="http://www.facebook.com/events/{{event.fb_event_id}}" onclick="rsvp();" target = "_blank">{{event.title}}</a>
            <div class="fb-like" data-href="{{site_url}}fb/events/{{event.id}}" data-send="true" data-width="450" data-show-faces="false"></div>
        </div>
        <div id="maincontent"> {{ event.mobapptab.text|safe }}
        </div>
        <div class="fb-comments" data-href="{{site_url}}fb/events/{{event.id}}" data-num-posts="2" data-width="470"></div>
        <div id="gallery">
            <div id="picture"><img src="{{event.events_logo}}" /></div>
        </div>
	<div class="fb-facepile" data-href="{{site_url}}fb/events/{{event.id}}" data-max-rows="1" data-width="300"></div>
	{% endblock %}
    </BODY>