{% extends "dtvpicker/SummaryPages/dtvSummary.html" %}

{% block eventActions %}
    {% ifequal event.lock_status 'locked' %}
        <h4> LOCKED </h4>
    {% else %}          
 			<a href = '{{site_url}}DTVPicker/{{event}}/AddSubEvent/' class="btn btn-primary atag" style="width:120px;">Add Sub-Event</a>
        {% for event, subEventList in happenings %}    {# There will be only one tuple here (only one event) #}
            {% ifequal event.lock_status 'not_locked' %}                
                	<a href = '{{site_url}}DTVPicker/{{event}}/LockEvent/'class="btn btn-primary atag" style="width:100px;">Lock Event</a>
            {% endifequal %}
        {% endfor %}
    {% endifequal %}
    <br/><br>
{% endblock %}

{% block subEventActions %}
     {% ifnotequal event.lock_status 'locked' %}
         <td><a href = '{{site_url}}DTVPicker/{{event}}/EditSubEvent/{{subEvent}}/' class="btn btn-inverse atag" style="height:15px;">Edit</a></td> 
         <td><a href = '{{site_url}}DTVPicker/{{event}}/DeleteSubEvent/{{subEvent}}/' class="btn btn-inverse atag" style="height:15px;">Delete</a></td> 
    {% endifnotequal %}
{% endblock %}

{% block miscActions %}
    {% for event, subEventList in happenings %}    {# There will be only one tuple here (only one event) #}
        {% ifequal event.lock_status 'unlocked_by_core' %}
            <p>
                <h4>Your event has been unlocked by the cores.</h4> <br/>
                Reason:
                {{ event.unlock_reason }}        
            </p>
        {% endifequal %}
    {% endfor %}        
{% endblock %}
