{% extends "dtvpicker/SummaryPages/dtvSummary.html" %}

{% block eventActions %}
    {% ifequal event.lock_status 'locked' %}
        <h4> LOCKED </h4>
    {% else %}
      <ul class="nav nav-pills">          
        <li><a href = '{{site_url}}DTVPicker/{{event}}/AddSubEvent/'> Add Sub-Event </a></li>
      </ul>
        <br/>
        {% for event, subEventList in happenings %}    {# There will be only one tuple here (only one event) #}
            {% ifequal event.lock_status 'not_locked' %}
					<ul class="nav nav-pills">                  
                	<li><a href = '{{site_url}}DTVPicker/{{event}}/LockEvent/'> Lock Event </a></li>
               </ul>
            {% endifequal %}
        {% endfor %}
    {% endifequal %}
    <br/>
{% endblock %}

{% block subEventActions %}
     {% ifnotequal event.lock_status 'locked' %}
         <ul class="nav nav-pills">
         <li><a href = '{{site_url}}DTVPicker/{{event}}/EditSubEvent/{{subEvent}}/'>Edit</a></li> 
         <li><a href = '{{site_url}}DTVPicker/{{event}}/DeleteSubEvent/{{subEvent}}/'>Delete</a></li></ul> 
    {% endifnotequal %}
{% endblock %}

{% block miscActions %}
    {% for event, subEventList in happenings %}    {# There will be only one tuple here (only one event) #}
        {% ifequal event.lock_status 'unlocked_by_core' %}
            <p>
                <h4>Your event has been unlocked by the cores.</h4> <br/>
                Reason:
                {{ event.unlock_reason }}        
            </p>
        {% endifequal %}
    {% endfor %}        
{% endblock %}
