{% extends "dtvpicker/SummaryPages/dtvSummary.html" %}

{% block eventActions %}
    {% ifequal event.lock_status 'locked' %}
        <h4> LOCKED </h4>
    {% else %}
        <a href = '{{site_url}}DTVPicker/{{event}}/AddSubEvent/'> Add Sub-Event </a>
        <br/>
        {% for event, subEventList in happenings %}    {# There will be only one tuple here (only one event) #}
            {% ifequal event.lock_status 'not_locked' %}
                <a href = '{{site_url}}DTVPicker/{{event}}/LockEvent/'> Lock Event </a>
            {% endifequal %}
        {% endfor %}
    {% endifequal %}
    <br/>
{% endblock %}

{% block subEventActions %}
     {% ifnotequal event.lock_status 'locked' %}
        <td> <a href = '{{site_url}}DTVPicker/{{event}}/EditSubEvent/{{subEvent}}/'> Edit </a> </td>
        <td> <a href = '{{site_url}}DTVPicker/{{event}}/DeleteSubEvent/{{subEvent}}/'> Delete </a> </td>
    {% endifnotequal %}
{% endblock %}

{% block miscActions %}
    {% for event, subEventList in happenings %}    {# There will be only one tuple here (only one event) #}
        {% ifequal event.lock_status 'unlocked_by_core' %}
            <p>
                Your event has been unlocked by the cores. <br/>
                Reason:
                {{ event.unlock_reason }}        
            </p>
        {% endifequal %}
    {% endfor %}        
{% endblock %}
