{% extends "dtvpicker/SummaryPages/dtvSummary.html" %}

{% block dtvTitle %}
    <h1>Summary | By Event</h1>
{% endblock %}

{% block onScreenPageTitle %} DTV Summary (By Event) {% endblock %}

{% block eventActions %}
    {% ifequal event.lock_status 'locked' %}
        <a href = '{{site_url}}DTVPicker/{{event}}/UnlockEvent/' class="btn btn-primary atag" style="width:100px;"> Unlock </a>
    {% else %}
        <h6> AWAITING LOCK </h6>
    {% endifequal %}
{% endblock %}

{% block miscActions %}
    <br/> <br/>
    {% if enablePDFPrinting %}
        <a href = '{{site_url}}DTVPicker/Summary/' class="btn btn-inverse atag" style="width:320px;">Go back to the DTV Summary Landing</a>
        or <a href = '{{site_url}}DTVPicker/Summary/ByEvent/GeneratePDF/' class="btn btn-info atag" style="width:250px;"> print these details as PDF. </a>
    {% else %}
        <a href = '{{site_url}}DTVPicker/Summary/ByVenue/'class="btn btn-primary atag" style="width:250px;">View DTV Summary By Venue</a>
        <a href = '{{site_url}}DTVPicker/Summary/ByDate/'class="btn btn-primary atag" style="width:250px;">View DTV Summary By Date </a>
    {% endif %}
    <br/> <br/>

{% endblock %}
