{% extends "dtvpicker/dtvBase.html" %}

{% block dtvTitle %}
    Summary | Landing
{% endblock %}

{% block onScreenPageTitle %} DTV Summary Landing {% endblock %}

{% block dtvBody %}
    <p>
        You are seeing this page because all events are locked and cannot be modified further until they are unlocked by the Core team.
        <br/> <br/>
        Use the following links to see / generate PDFs for the events' DTV Summary:
        <table class="table table-striped table-bordered table-condensed">
            <tr>
                <th> View </th>
                <th> Print PDF </th>
            </tr>
            <tr>
                <td> <a href = '{{site_url}}DTVPicker/Summary/ByEvent/' class="btn btn-primary atag" style="width:100px;"> By Event </a> </td>
                <td> <a href = '{{site_url}}DTVPicker/Summary/ByEvent/GeneratePDF/' class="btn btn-primary atag" style="width:100px;">Print PDF </a> </td>
            </tr>
            <!--tr>
                <td> <a href = '{{site_url}}DTVPicker/Summary/ByVenue/' class="btn btn-primary atag" style="width:100px;"> By Venue </a> </td>
                <td> <a href = '{{site_url}}DTVPicker/Summary/ByVenue/GeneratePDF/' class="btn btn-primary atag" style="width:100px;"> Print PDF </a> </td>
            </tr-->
            <tr>
                <td> <a href = '{{site_url}}DTVPicker/Summary/ByDate/' class="btn btn-primary atag" style="width:100px;"> By Date </a> </td>
                <td> <a href = '{{site_url}}DTVPicker/Summary/ByDate/GeneratePDF/' class="btn btn-primary atag" style="width:100px;"> Print PDF </a> </td>
            </tr>
        </table>
    </p>
    {% if user.is_superuser %}
        <p>
            <a href = '{{site_url}}DTVPicker/'> Go back to the Super User Home </a>
        </p>
    {% endif %}
{% endblock %}
