{% extends "dtvpicker/dtvBase.html" %}

{% block dtvTitle %}
    Summary
{% endblock %}

{% block onScreenPageTitle %} DTV Summary {% endblock %}

{% block dtvBody %}

    {% for event, subEventList in happenings %}
        <h4> {{ event }} </h4>
        {% block eventActions %} {% endblock %}
        {% if subEventList %}
            <table class="table table-striped table-bordered table-condensed">
                <tr>
                    <th> Sub-Event </th>
                    <th> Start Date </th>
                    <th> Start Time </th>
                    <th> End Date </th>
                    <th> End Time </th>
                    <th> Venue </th>
                    <th> Last Modified </th>
                    {% ifequal request.user.is_core 0 %}
                        <th> Actions </th>
                    {% endifequal %}
                </tr>
                {% for subEvent in subEventList %}
                <tr>
                    <td> {{ subEvent.title }} </td>
                    <td> {{ subEvent.start_date_and_time|date:"D, d M Y" }} </td> {# Displays date as Thu 11 Jun 2012 #}
                    <td> {{ subEvent.start_date_and_time|date:"P"|upper }} </td> {# Displays time as 11:15 A.M. or 11 A.M. or NOON #}
                    <td> {{ subEvent.end_date_and_time|date:"D, d M Y" }} </td> 
                    <td> {{ subEvent.end_date_and_time|date:"P"|upper }} </td> {# If NOON is creating trouble, change back to "f A" #}
                    <td> {{ subEvent.display_venue }} </td>
                    <td> {{ subEvent.last_modified }} </td>
                    {% block subEventActions %} {% endblock %}
                </tr>
                {% endfor %}
            </table>
        {% else %}
            No sub-events registered
        {% endif %}
    {% endfor %}
    
    {% block miscActions %} {% endblock %}
                
{% endblock %}
