<html>

    <head>
        <title>Shaastra 2013</title>
    </head>
    <body>
        Login<br>
        {% if user.is_authenticated %}
        <h2>You are logged in as: {{ user }}</h2>
        <a href="/register/editprofile">Edit Profile</a>
        <a href="/logout">Logout</a>
        <hr />
            <!--{% if user.get_profile.facebook_id %}
                <h2>User Details</h2>
                <img src="http://graph.facebook.com/{{ user.get_profile.facebook_id }}/picture" /><br />
                {{ name }}
            {% endif %}-->
        {% else %}
        <form action="" method="POST">
        <a href="/facebook/login">Login via Facebook</a>
        <table>
            {% csrf_token %}
            {{form.as_table}}
        </table>
        <input type="submit" value="Login" />
        <a href="/register/user">Register</a>
        </form>
        {% endif %}
    </body>
</html>
