<html>
{% load allauth_tags %}
    <head>
        <title>Shaastra 2013</title>
    </head>
    <body>
        Login<br>
        {% if user.is_authenticated %}
        <h2>You are logged in as: {{ user.get_profile }}</h2>
        <a href="/logout">Logout</a>
        <hr />
            <!--{% if user.get_profile.facebook_id %}
                <h2>User Details</h2>
                <img src="http://graph.facebook.com/{{ user.get_profile.facebook_id }}/picture" /><br />
                {{ name }}
            {% endif %}-->
        {% else %}
        <form action="" method="POST">
        <a href="/facebook/login">Login via Facebook</a>
        <a href="/twitter/login">Login via Twitter</a>
        <li><a title="Google" class="socialaccount_provider google" href="{% openid_login_url openid="https://www.google.com/accounts/o8/id" %}">Google</a></li>
        <li><a title="Yahoo" class="socialaccount_provider yahoo" href="{% openid_login_url openid="http://me.yahoo.com" %}">Yahoo</a></li>
        <table>
            {% csrf_token %}
            {{form.as_table}}
        </table>
        <input type="submit" value="Login" />
        <a href="/register/user">Register</a>
        </form>
        {% endif %}
    </body>
</html>
