<!DOCTYPE html>
<html lang="en-US">
<head>

<style type="text/css"> 
#livesearch
{ 
background-color: #fff;
margin:0px;
width:245px; 
z-index: 10;
position: fixed;      
}
</style>

<script type="text/javascript" src="/static/jquery.js"></script>

<script type="text/javascript">
$(document).ready(function(){
  $("html").click(function(){
    document.getElementById("livesearch").innerHTML="";
    document.getElementById("livesearch").style.border="0px";

  });
});
</script>

<script type="text/javascript">
function showResult(str)
{
if (str.length==0)
  {
  document.getElementById("livesearch").innerHTML="";
  document.getElementById("livesearch").style.border="0px";
  return;
  }
if (window.XMLHttpRequest)
  {// code for IE7+, Firefox, Chrome, Opera, Safari
  xmlhttp=new XMLHttpRequest();
  }
else
  {// code for IE6, IE5
  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
xmlhttp.onreadystatechange=function()
  {
  if (xmlhttp.readyState==4 && xmlhttp.status==200)
    {
    document.getElementById("livesearch").innerHTML=xmlhttp.responseText;
    document.getElementById("livesearch").style.border="1px solid #A5ACB2";
    }
  }
xmlhttp.open("GET","search?query_string="+str,true);
xmlhttp.send();
}
</script>

</head>
<body>

<form>
<input id="entry" type="text" size="30" onkeyup="showResult(this.value)" />
<div id="livesearch"></div>
</form>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non elit ut tortor ullamcorper mollis. Aenean eros odio, faucibus nec fermentum imperdiet, feugiat faucibus libero. Phasellus velit eros, facilisis ut rhoncus hendrerit, elementum sit amet libero. Mauris accumsan feugiat tempus. Suspendisse lobortis condimentum velit, sed lobortis nunc luctus id. Vivamus ac sem tempor sem pulvinar lacinia. Cras vestibulum mollis leo et iaculis. Cras in mi libero. Suspendisse porta tincidunt auctor. Proin pharetra tellus a nisi interdum sollicitudin. Duis massa arcu, iaculis ut vulputate a, auctor vel odio. Suspendisse molestie nibh ac mauris consequat pulvinar. Integer id dui vel metus adipiscing tristique a vitae tellus. Praesent porttitor lectus vel quam cursus elementum.
</p><p>
Proin ullamcorper metus nec purus lobortis sit amet venenatis mi egestas. Ut mattis pharetra feugiat. Duis sit amet sem id purus vestibulum feugiat. Pellentesque at mattis ipsum. Phasellus blandit sem ac orci rutrum lacinia. Vivamus tellus ante, tincidunt in pulvinar nec, lacinia vitae magna. Mauris ultrices mauris non risus dignissim cursus. Donec dui lorem, molestie eu sollicitudin in, ultricies et urna.
</p><p>
Morbi neque neque, vulputate ac gravida eu, pulvinar eu enim. Duis quam est, auctor vel feugiat non, auctor a nisl. Quisque sem nisl, tincidunt non pulvinar at, pulvinar id mi. Integer semper bibendum augue nec viverra. Cras malesuada consequat enim sit amet ultricies. In consequat nunc nec diam dignissim vestibulum vehicula turpis aliquam. Morbi porta lorem vitae justo facilisis auctor. Aenean tempor lacinia quam, nec consequat quam ultrices tristique. Aliquam eget nisi nec urna dapibus pretium at non tortor. Nam sem dolor, pulvinar non placerat vel, tincidunt in augue. Integer vel purus dui, a eleifend leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus bibendum luctus velit, vel pretium odio tristique et. Etiam rutrum enim quis turpis scelerisque cursus.</p>
</body>
</html>
