<html>

{% comment %}
    Page to create / edit user profile
{% endcomment %}

<body>
    
    <p>
        Edit profile:
    </p>
    {% if editProfileForm.errors %}
        <p style="color: red;">
            Please correct the error{{ editProfileForm.errors|pluralize }} below.
        </p>
    {% endif %}

    <form action="" method="POST">
        {% csrf_token %}
        <table>
            {{ editProfileForm.as_table }}
        </table>
        <input type="submit" value="Update Profile">
        <a href="/register/college">Register New College</a>
    </form>
</body>    
</html>
