<html>
    <head>
        <title>Shaastra 2013</title>
    </head>
    <body>
        Register<br/>
        <form action="" method="POST">
        <table>
            {% csrf_token %}
            {{ form.as_table }}
        </table>
        <input type="hidden" name="UID" value="{{UID}}" />
        <input type="hidden" name="access_token" value="{{access_token}}" />
        <input type="submit" value="Register" />
        <a href="/register/college/?next={{request.path}}">Register New College</a>
        </form>
    </body>
</html>
