Header set Access-Control-Allow-Origin *

RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{HTTP_HOST} (.*)\.shaastra\.org$
RewriteRule ^(.*)$ ./django.fcgi/$1 [QSA,L]

RewriteCond %{HTTP_HOST} ^forums\.shaastra\.org$ [OR]
RewriteCond %{HTTP_HOST} ^www\.forums\.shaastra\.org$
RewriteRule ^login$ "http\:\/\/www\.shaastra\.org\/2013\/main\/login" [R=301,L]
