<html>
<head>
<title>Password Change</title>
<link type="text/css" rel="stylesheet" href="{{site_url}}static/css/bootstrap.css">
<style type="text/css">
div{
 font-weight: bold;
 color: #FFF;
 margin-top:40px;
 }
 .btn{
   text-decoration: none;
   color: #08C;}
 .btn:hover{
   color: #08C;} 
</style>
</head>
<body>
{% load i18n %}
{% load url from future %}
{% block userlinks %}{% url 'django-admindocs-docroot' as docsroot %}{% if docsroot %}<a href="{{ docsroot }}">{% trans 'Documentation' %}</a> / {% endif %}{% endblock %}
<div class="container alert alert-success">
<h1>Password Change Successful</h1>
<ul class="nav nav-pills">
  <li><a href="{{site_url}}" class="btn">Home</a></li>
  <li><a href="{{site_url}}user/logout/" class="btn">Logout</a></li>
</ul>
</div>
</body>
</html>