<html>
<head>
<title>Password Reset</title>
<link type="text/css" rel="stylesheet" href="{{site_url}}static/css/bootstrap.css">
<style type="text/css">
.btn{
  text-decoration: none;
  margin-left: -10px;}
</style>
</head>
<body>
{% load i18n %}
<div class="container">
<h1>{% trans "Password reset" %}</h1>

<p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}</p>

<form action="" method="post" class="form-horizontal">{% csrf_token %}
{{ form.email.errors }}
<p><label for="id_email">{% trans 'E-mail address:' %}</label> {{ form.email }} 
<input type="submit" value="{% trans 'Reset' %}"  class="btn btn-primary" style="margin-left:5px;"/></p>
</form>
<ul class="nav nav-pills">
  <li><a href="{{site_url}}" class="btn" style="margin-left:-40px;">Home</a></li>
</ul>
</div>
</body>
</html>