<html>
<head>
<title>Password Change</title>
<link type="text/css" rel="stylesheet" href="{{site_url}}static/css/bootstrap.css">
<style type="text/css">
body
    {
    width:100%;
    height:100%;
    margin:0;
    background:url({{site_url}}static/img/bg.png) 100% 100%;
    background-repeat : repeat;
	 font-family:'Century Gothic',serif ! important;
	 letter-spacing:0.75px ! important;
	 color:#fff;
    }
.submit-row a{
   text-decoration: none;
   margin-left: -40px;
   display: block;}
</style>
 <script type="text/javascript">
(function($){
     $.fn.extend({
          center: function () {
                return this.each(function() {
                        var top = ($(window).height() - $(this).outerHeight()) / 2;
                        var left = ($(window).width() - $(this).outerWidth()) / 2;
                        $(this).css({position:'absolute', margin:0, top: (top > 0 ? top : 0)+'px', left: (left > 0 ? left : 0)+'px'});
                });
        }
     });
})(jQuery);
</script>
</head>
<body>{% load i18n adminmedia %}
{% load url from future %}

{% block userlinks %}{% url 'django-admindocs-docroot' as docsroot %}{% if docsroot %}<a href="{{ docsroot }}">{% trans 'Documentation' %}</a> / {% endif %}  {% endblock %}

{% block content %}<div id="content-main" class="container">

<form action="" method="post" class="form-horizontal">{% csrf_token %}
<div>
{% if form.errors %}
    <p class="errornote">
    {% blocktrans count form.errors.items|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
{% endif %}

<h1>{% trans 'Password change' %}</h1>

<p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

<fieldset class="module aligned wide">

<div class="form-row" class="control-group error">
    {{ form.old_password.errors }}
    <label for="id_old_password" class="required">{% trans 'Old password' %}:</label>{{ form.old_password }}
</div>

<div class="form-row">
    {{ form.new_password1.errors }}
    <label for="id_new_password1" class="required">{% trans 'New password' %}:</label>{{ form.new_password1 }}
</div>

<div class="form-row">
{{ form.new_password2.errors }}
    <label for="id_new_password2" class="required">{% trans 'Password (again)' %}:</label>{{ form.new_password2 }}
</div>

</fieldset>
<br><br>
<div class="submit-row">
    <input type="submit" value="{% trans 'Change my password' %}" class="btn btn-success btn-large"/>
    <button class="btn btn-large btn-danger" onclick="window.location.href='{{site_url}}'" style="margin-left:5px;">Home</button>
</div>

<script type="text/javascript">document.getElementById("id_old_password").focus();</script>
</div>
</form>

</div>

{% endblock %}
</body>
</html>
