<html>
<head>
<title>Password Reset</title>
<link type="text/css" rel="stylesheet" href="{{site_url}}static/css/bootstrap.css">
<style type="text/css">
.container{
    margin-top: 50px;
    color: #FFF;
    font-weight:bold;
    background-color: #468847;} 
</style>
</head>
<body>
{% load i18n %}
<div class="container alert alert-success">
<h1>Password reset successful</h1>
<h3>Password reset successful</h1>
<p>We've e-mailed you instructions for setting your password to the e-mail address you submitted. You should be receiving it shortly</p>
<ul class="nav nav-pills">
		<li><a href="{{site_url}}" class="btn">Home</a></li>
</ul>
</div>
</body>
</html>