<html>
<head>
<title>Password Reset</title>
<link type="text/css" rel="stylesheet" href="{{site_url}}static/css/bootstrap.css">
<style type="text/css">
div{
 font-weight: bold;
 color: #FFF;
 margin-top:100px;
 }
 .btn a{
   text-decoration: none;
   color: #08C;
   display: block;}
 .btn a:hover{
   color: #08C;} 
 </style>
 <body>
{% load i18n %}
<div class="container btn btn-success"
<h1>{% trans 'Password reset complete' %}</h1>
<p>{% trans "Your password has been set.  You may go ahead and log in now." %}</p>
<ul class="nav nav-pills">
  <li><a href="{{site_url}}" class="btn">Home</a></li>
  <li><a href="{{site_url}}user/login/" class="btn">Login</a></li>
</ul>
</body>
</html>