<form id = "sub_list" action="" method = "POST">{% csrf_token %}
<select id="action" name="action">
  <option selected="selected" value="0">---------</option>
  <option value="selected">mark as selected</option>
  <option value="sub_read">mark as unread</option>
  <option value="interesting">mark as interesting</option>
  <option value="read">mark as read</option>
</select>
<input type="button" onclick="send_checklist();" value="Apply" class="btn btn-info">

<br><br>
<table id="submissions_list" class="table table-striped table-bordered table-condensed left" border = "1">
<thead>
<tr>
    <th><input type="checkbox" value="toggle" id="toggle" onclick="toggleChecked(this.checked);"/></th>
    <th width="150">Participant</th>
    <th width="120">Read</th>
    <th width="120">Selected</th>
    <th width="120">Interesting</th>
    <th width="120">Score</th>
</tr>
</thead>
<tbody>
{% for sub in subs %}
<tr>
    <td><input type="checkbox" name="sub_checklist" class="checkbox" value="{{sub.id}}" /></td>
    <td width="150"><a onclick = "Dajaxice.submissions.view_submission(Dajax.process,{'sub_id':{{sub.id}}})">{{sub.individualsubmission.participant.user.username}}</a></td>
    <td width="120">{% if sub.sub_read %} Yes {% else %} No {% endif %}</td>
    <td width="120">{% if sub.selected%} Yes {% else %} No {% endif %}</td>
    <td width="120">{% if sub.interesting%} Yes {% else %} No {% endif %}</td>
    <td width="120">{{sub.score}}</td>
</tr>
{% endfor %}
</tbody>
</table>
</form>
<input type="button" value="Close" class="btn btn-primary" onclick="close_form();" >
<br>
