{% extends "base.html" %}
{% block content %}
<div id="upload_tdp" class="span6">
    <form action="" method="POST" enctype="multipart/form-data">
        <p style="color:#fff;font-size:12px;font-style:italic;">{{msg}}</p><br>
        {% csrf_token %}
        <table>
            {{ form.as_table }}
            <tr>
                <td><input type="submit" value="Upload" class="btn btn-primary" /></td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}
{% block footer %}
<div id="footer">
  <div id="tabbox" class="tabbox" style="visibility:visible !important;">
    <div id="tab1" class="tab">
    </div>
    <div id="tab2" class="tab">
    </div>
    <div id="tab3" class="tab">
    </div>
    <div id="tab4" class="tab">
    </div>
    <div id="tab5" class="tab">
    </div>
    <div id="tab6" class="tab">
    </div>
    <div id="tab7" class="tab">
    </div>
    <div id="tab8" class="tab">
    </div>
    <div id="tab9" class="tab">
    </div>
    <div id="tab10" class="tab">
    </div>
    <div id="tab11" class="tab">
    </div>
  </div>
{% endblock %}
