<h3>Participant - {{sub.individualsubmission.participant.user.username}}<br/>
<b>Status:</b></br></h3>
<h4>Selected - {% if sub.selected %} Yes {% else %} No {% endif %}</h4><br/>
{% for ans in mcqs %}
{{ans.question.q_number}}.{{ans.question.title|safe}}<br/>
{{ans.choice}}<br/>
<hr>
{% endfor %}<br/>
{% for ans in textqs %}
{{ans.question.q_number}}.{{ans.question.title|safe}}<br/>
{{ans.text}}<br/>
<hr>
{% endfor %}
<a onclick="Dajaxice.submissions.edit_sub(Dajax.process,{'sub_id':{{sub_id}},'attr':'sub_read', 'assign':'{% if sub.sub_read %}false{% else %}true{% endif %}'})">
<h4>{% if sub.sub_read %}Un{% else %}{% endif %}Mark as read</h4>
</a><br/>
<a onclick="Dajaxice.submissions.edit_sub(Dajax.process,{'sub_id':{{sub_id}},'attr':'selected', 'assign':'{% if sub.selected %}false{% else %}true{% endif %}'})">
<h4>{% if sub.selected %}Un{% else %}{% endif %}Mark as selected</h4>
</a><br/>
<a onclick="Dajaxice.submissions.edit_sub(Dajax.process,{'sub_id':{{sub_id}},'attr':'interesting', 'assign':'{% if sub.interesting %}false{% else %}true{% endif %}'})">
<h4>{% if sub.interesting %}Un{% else %}{% endif %}Mark as interesting</h4>
</a>
<form id="score" action="" method="POST">{% csrf_token %}
<h4>Score:</h4> <input name="score" type="text" {% if sub.score %}value="{{sub.score}}"{% endif %}/>
<input type="button" value = "Update Score"onclick="save_score({{sub.id}});" class="btn btn-primary"/> 
<input type="button" value="Close" class="btn btn-primary" onclick="close_form();" >