{% load dajaxice_templatetags %}
<html>
    <head>
        <title>Shaastra 2013 | Core Dashboard</title>
{% dajaxice_js_import %}
        <link type="text/css" rel="stylesheet" href="{{site_url}}static/css/bootstrap.css">
        <link type="text/css" rel="stylesheet" href="{{site_url}}static/css/style1.css">
		<link href="{{site_url}}static/css/demo_page.css"  type="text/css" rel="stylesheet" >
        <link href="{{site_url}}static/css/demo_table.css"  type="text/css" rel="stylesheet">
        <script type="text/javascript" src="{{site_url}}static/js/jquery.js"></script>
        <script type="text/javascript" src="{{site_url}}static/js/chosen.jquery.js"></script>
        <script type="text/javascript" src="{{site_url}}static/js/jquery.dajax.core.js"></script>
        <script type="text/javascript" src="{{site_url}}static/js/jquery.ba-bbq.js"></script>
        <link href="{{site_url}}static/css/chosen.css"  type="text/css" rel="stylesheet">
        <script language = 'JavaScript' type="text/javascript" src="{{site_url}}static/js/jquery.ba-serializeobject.min.js" charset = "utf-8"></script>
        <script type="text/javascript">
        function add_event()
        {
            data=$(".bbq-item :input").serializeObject();
            $(".bbq-item").prepend("Processing please wait..<br><img src='{{site_url}}static/img/loading.gif'>");
            Dajaxice.core.add_event(Dajax.process,{'form':data,});
        }
               
        function del_event(id)
        {
            var press=confirm("Confirm delete?");
            if (press==true)
            {
                $("#summary").append("Processing please wait..<br><img src='{{site_url}}static/img/loading.gif'>");
                Dajaxice.core.del_event(Dajax.process,{'id':id});
            }
        }
               
        function updateSummary()
        {
            $("#summary").html("Loading please wait..<br><img src='{{site_url}}static/img/loading.gif'>");            
            Dajaxice.core.updateSummary(Dajax.process);
        }
        </script>
	    <script type="text/javascript">
        $(document).ready(function(){
            updateSummary();
         });
	    </script>
        <script type="text/javascript" language="javascript">

        $(function(){
                    
          // Bind an event to window.onhashchange that, when the history state changes,
          // gets the url from the hash and displays either our cached content or fetches
          // new content to be displayed.
          $(window).bind( 'hashchange', function(e) {
            
            // Get the hash (fragment) as a string, with any leading # removed. Note that
            // in jQuery 1.4, you should use e.fragment instead of $.param.fragment().
            var url = $.param.fragment();
            
            // Remove .bbq-current class from any previously "current" link(s).
            $( 'a.bbq-current' ).removeClass( 'bbq-current' );
            if(url)
            {
                $(".bbq-default").hide();
            // Add .bbq-current class to "current" nav link(s), only if url isn't empty.
            url && $( 'a[href="#' + url + '"]' ).addClass( 'bbq-current' );

          // Show "loading" content while AJAX content loads.
          $( '.bbq-loading' ).show();
        // Load external content via AJAX. Note that in order to keep this
        // example streamlined, only the content in .infobox is shown. You'll
        // want to change this based on your needs.
          $('.bbq-item').load( url, function(){
              // Content loaded, hide "loading" content.
              $( '.bbq-loading' ).hide();$( '.bbq-item' ).show();
                if($('.bbq-item').find('.chzn-select'))
                {
                    $(".chzn-select").chosen();
                }
            });
            }
            else
            {
                $(".bbq-item").hide();
                $(".bbq-default").show();
            }
          })
          
        });
        </script>
    </head>
    <body>
    <div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
         	<div class="left" id="wel"><h3>Welcome {{ request.user }} | <i>{{ request.user.groups.get_query_set.0 }} core</i></h3></div>
				<div class="right" id="links"><ul class="nav nav-pills">
				    <li><a href="{{site_url}}core/" class="headerlinks">Core Home</a></li>
				    <li><a href="{{site_url}}DTVPicker/" class="headerlinks">DTVPicker</a></li>
            	    <li><a href="{{site_url}}user/editprofile/" class="headerlinks">Edit Profile</a></li>
                    <li><a href="{{site_url}}user/password_change/" class="headerlinks">Change Password</a></li>
<!--        			<li><a href="{{site_url}}DTVPicker/Summary/" class="headerlinks">DTVPicker</a></li> -->
        			<li><a href="{{site_url}}user/logout/" class="headerlinks">Logout</a></li></ul></div>
        </div></div></div><hr/>
		<div class="container" id="main">        
        <div id="nav">
        		<ul class="nav nav-tabs">
            	<li><a href="#addevent">Add Event</a></li></ul>
            	
        </div><br>
        <div class="container-fluid">
			<div class="row-fluid">
            <div id="summary" class="span7">
            </div>
            <div class="span5">
            <div class="bbq" id="space">              
                <div class="bbq-content">

                    <!-- This will be shown while loading AJAX content. You'll want to get an image that suits your design at http://ajaxload.info/ -->
                    <div class="bbq-loading" style="display:none;">
                        <img src="{{site_url}}static/img/loading.gif" alt="Loading"/> Loading content...
                    </div>

                    <!-- This content will be shown if no path is specified in the URL fragment. -->
                    <div class="bbq-default">
                    <i> Space for displaying forms </i>
                    </div>

                    <div class="bbq-item">
                    </div>
                </div>
            </div>
				</div>
        </div></div>
        </div>
    </body>
</html>
