@charset "utf-8";
/* CSS Document */

body
{
	margin:0;
	background:#000;
	background-image: -webkit-linear-gradient(left, #434343, #313131);
	background-image: -webkit-gradient(linear, top left, top right, color-stop(0%, #434343), color-stop(100%, #313131));
	background-image: -moz-linear-gradient(left, #434343, #313131);
}

#main{
	box-shadow: 0px 0px 10px rgb(0, 0, 0);
	min-height:700px;
	width:80%;
	background: #FFF;
}
.right{
	float:right;}
	
.left{
	float:left;}
	
.navbar-inner .container a,a:link{
	display:block;
	color:#999999;
	line-height: 20px;
}

.navbar-inner .container a:hover{
	color:#fff;}
	
#wel{
    margin-top:5px;}

#nav a{
	text-decoration: none;
	color:#08C;
	font-weight:bold;}

	
.q{
	text-decoration:none;
	max-width:90px;
	max-height:20px;
	}
	
#tabs a{
	text-decoration: none;
	color:#08C;}
	
.tags a,a:link{
	text-decoration: none;
	color:#08C;}
	
#eventdetails{
	font-weight: bold;
	}
#nav{
	width:100%;
	}

table a{
	color;#08C;
	text-decoration: none;
}
