@charset "utf-8";
/* CSS Document */

body
{
	margin:0;
	background:#000;
	background-image: -webkit-linear-gradient(left, #434343, #313131);
	background-image: -webkit-gradient(linear, top left, top right, color-stop(0%, #434343), color-stop(100%, #313131));
	background-image: -moz-linear-gradient(left, #434343, #313131);
		/* For Internet Explorer 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#434343, endColorStr=#313131, GradientType=1);
   /* For Internet Explorer 8 */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#434343, endColorstr=#313131, GradientType=1);
}

#super{
	width:100%;
	color:#FFF;
	min-height: 700px;
	background:rgba(0,0,0,0.5);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#50000000,endColorstr=#50000000); 
}

#full{
	box-shadow: 0px 0px 10px rgb(0, 0, 0);
	width:80%;
  }
	

#main{
	box-shadow: 0px 0px 10px rgb(0, 0, 0);
	min-height:700px;
	width:90%;
	background: #FFF;
}
.right{
	float:right;}
	
.left{
	float:left;}
	
.headerlinks{
	display:block;
	color:#999999;
	line-height: 20px;
	font-weight: bold;
}

.headerlinks:hover{
	color:#fff;
	}
	
#wel{
    margin-top:5px;}

#nav a{
	text-decoration: none;
	color:#A52A2A;
	font-weight:bold;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	border: 1px solid rgb(221, 221, 221);
 }
#nav a:hover{
	color:#fff;
	background:#356FCB;
	border: 1px solid #2F5BB7;}
#nav a.on{
   color:#fff;
	background:#356FCB;
	border: 1px solid #2F5BB7;}
.q{
	max-width:100px;
	max-height:20px;
	}
#nav1 a{
	text-decoration: none;
	color:#356FCB;}

#tabs a{
	color:#A52A2A;
	border: 1px solid rgb(221, 221, 221);
   text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	}
#tabs a:hover{
	color:#fff;
	background:#356FCB;
	border: 1px solid #2F5BB7;}
	
#eventdetails{
	font-weight: bold;
	}
#nav{
	width:100%;
	}

a,a:active,a:visited,a:link{
	text-decoration: none;
}

.tablelinks{
	color:#08C;
}


.boxA{
   height:400px;
   overflow-y:auto;
   overflow-x:hidden;
   border-radius:0px;
   background: none repeat scroll 0px 0px rgb(229, 235, 248);
   border-color: rgb(238, 238, 236) rgb(169, 172, 165) rgb(186, 189, 182) rgb(238, 238, 236);
   box-shadow: 0px 0px 10px rgb(0, 0, 0);
   border-style: solid;
   border-width: 1px;}
 .boxA > h4{
 	text-align:center;}
.boxB{
   background:#DDD;
   border-color: rgb(238, 238, 236) rgb(169, 172, 165) rgb(186, 189, 182) rgb(238, 238, 236);
   border-style: solid;
   border-width: 1px;
   margin-bottom: 10px;   
   }


#detail textarea{
	width: 400px;}

.atag{
	width:40px;
	max-height:20px;
	text-align:center;
	color: #FFF;
	 }
#msg{
	display:block;
	color: #183f5a;
	font-size:16px;
	margin-left:-40px; }
	
#msg:hover{
	cursor:pointer;
	text-decoration: underline;}

#detail{
	height:500px;
	overflow-y:auto;
	overflow-x:hidden;} 
.filetitle{
	margin-left:-40px;
	color:#183f5a;
	font-size: 16px;
	font-weight:bold;}

.filetitle:hover{
	 color:#183f5a;
	 background:#FFF;
	 cursor: pointer;}
.helptext{
    font-style:italic;
    font-size:12px;
}
