{% load dajaxice_templatetags %}
<html>
    <head>
        <title>Shaastra 2013</title>
	{% dajaxice_js_import %}
        <script type="text/javascript" src="{{site_url}}static/js/jquery.js"></script>
        <script type="text/javascript" src="{{site_url}}static/js/jquery.dajax.core.js"></script>
        <script language = 'JavaScript' type="text/javascript" src="{{site_url}}static/js/jquery.ba-serializeobject.min.js" charset = "utf-8"></script>
        <script type="text/javascript">
        function add_group()
        {
            data=$("#space :input").serializeObject();
            $("#space").prepend("Processing please wait..<br><img src='{{site_url}}static/img/loading.gif'>");
            Dajaxice.admin.add_edit_group(Dajax.process,{'form':data});
        }
        function edit_group(id)
        {
            data=$("#space :input").serializeObject();
            $("#space").prepend("Processing please wait..<br><img src='{{site_url}}static/img/loading.gif'>");
            Dajaxice.admin.add_edit_group(Dajax.process,{'form':data,'id':id});
        }
        function del_group(id)
        {
            var press=confirm("Confirm delete?");
            if (press==true)
            {
                $("#space").append("Processing please wait..<br><img src='{{site_url}}static/img/loading.gif'>");
                Dajaxice.admin.del_group(Dajax.process,{'id':id});
            }
        }
        function add_core()
        {
            $("#space option:first").attr("selected","selected"); 
            data=$("#space :input").serializeObject();
            $("#space").prepend("Processing please wait..<br><img src='{{site_url}}static/img/loading.gif'>");
            Dajaxice.admin.add_edit_core(Dajax.process,{'form':data});
        }
        function edit_core(id)
        {
            $("#space option:first").attr("selected","selected"); 
            data=$("#space :input").serializeObject();
            $("#space").prepend("Processing please wait..<br><img src='{{site_url}}static/img/loading.gif'>");
            Dajaxice.admin.add_edit_core(Dajax.process,{'form':data,'id':id});
        }
        function del_core(id)
        {
            var press=confirm("Confirm delete?");
            if (press==true)
            {
                $("#space").append("Processing please wait..<br><img src='{{site_url}}static/img/loading.gif'>");
                Dajaxice.admin.del_core(Dajax.process,{'id':id});
            }
        }
        function updateSummary()
        {
            $("#summary").html("Loading please wait..<br><img src='{{site_url}}static/img/loading.gif'>");            
            Dajaxice.admin.updateSummary(Dajax.process);
        }
        function displayGroup(id)
        {
            $("#space").html("Loading please wait..<br><img src='{{site_url}}static/img/loading.gif'>");            
            Dajaxice.admin.add_edit_group(Dajax.process,{'id':id});
        }
        function displayCore(id)
        {
            $("#space").html("Loading please wait..<br><img src='{{site_url}}static/img/loading.gif'>");
            Dajaxice.admin.add_edit_core(Dajax.process,{'id':id});
        }
        </script>
	    <script type="text/javascript">
        $(document).ready(function(){
            updateSummary();
           $("#add_group").click(function(){
                $("#space").html("Loading please wait..<br><img src='{{site_url}}static/img/loading.gif'>");            
                Dajaxice.admin.add_edit_group(Dajax.process);            
           });
           $("#add_core").click(function(){
                $("#space").html("Loading please wait..<br><img src='{{site_url}}static/img/loading.gif'>");            
                Dajaxice.admin.add_edit_core(Dajax.process);            
           });
         });
	    </script>
    </head>
    <body>
        Welcome {{ request.user }},<br>
        <a href="{{site_url}}user/logout/">Logout</a>
        <hr/>
        <div id="nav">
            <button id="add_group">Add group</button>
            <button id="add_core">Add Core</button>
        </div><br>
        <div id="container">
            <div id="space" style="float:right;width:50%;">
            </div>
            <div id="summary" style="float:left;width:50%;">
            </div>
        </div>
    </body>
</html>