MCQs:<br/>
{% for q in mcqs %}
    <p>
    {{q.q_number}}.{{q.title}}<br />
    {% for option in q.mcqoption_set.all %}
        {{option.option}}:{{option.text}}<br />
    {% endfor %}
    <a href="#questions/mcq/{{q.id}}" >Edit</a>
    <a href="#questions" onclick="delete_mcq({{q.id}});">Delete</a>
{% endfor %}
<p>
<a href="#questions/mcq" >Add MCQ</a>

<p>
Subjectives:<br />
{% for q in text_questions %}
    {{q.q_number}}.{{q.title}}<br/>
    <a href="#questions/subj/{{q.id}}" >Edit</a>
    <a href="#questions" onclick="delete_sub({{q.id}});">Delete</a><br />
{% endfor %}
<p>
<a href="#questions/subj" >Add Subjective</a>
