<b>Title</b>:{{tab.title}}</br>
<b>Text</b>:{{tab.text|safe}}</br>
<b>Files:</b>
<div id="file">
    {% for file in file_list %}
        <p>
        <a href="{{file.url}}" >{{file.title}}</a><br>
        <a href="#" id="delete_file" onclick="delete_file({{tab.id}}, {{file.id}})">Delete</a>
            <a href="#customtabs/files/rename/{{tab.id}}/{{file.id}}" id="rename">Rename</a><br>
    {% endfor %}
    <p>
    <a href="#customtabs/files/{{tab.id}}" name="add_file" class="btn btn-info atag" style="width:80px;">Add a file</a>
</div>

<p>
<ul class="nav nav-pills tags">
<li><a href="#customtabs/edit/{{tab.id}}" name="edit" id="{{tab.title}}" class="btn-info atag" style="width:70px;">Edit Tab</a></li>
<li><a href="#" name="delete" onclick="delete_tab({{tab.id}})" class="btn-info atag" style="width:70px;">Delete Tab</a></li></ul>

