<html>
<head>
<title>Shaastra 2013 Control Room</title>
<link rel="stylesheet" type="text/css" href="{{site_url}}static/css/stylemain.css"  />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<style type="text/css">
body{background:rgb(240,240,240);}
a.btn{text-decoration: none!important;margin: 0!important;}
.container{padding:20px 0px;}
.hostel{display: none;width: 90%; margin:5px auto;}
.name{cursor:pointer;font-size:15px;padding:0px!important;margin:0px 0px 10px!important;display:inline-block!important;color:#00488F;text-shadow: 0 1px rgba(0, 0, 0, 0.3);}
label{color: #333;font-size:12px;font-style: italic;}
</style>
</head>
<body>
<div class="container">
<a href="{{site_url}}controlroom/home/" class="action btn btn-large btn-danger">Back</a>
<h4><p>Click on a hostel to see rooms available</p></h4>
<a onclick="$('#Alakananda').toggle('fast');" class="name">Alakananda</a><br>
<div id = "Alakananda" class="hostel"><label>Please  click again on the hostel to close this section</label>
<table id = "Hostel" class="table table-striped table-bordered table-condensed">
    <thead>
    <tr>
        <th width='120'>Room No.</th>
        <th width='120'>Max. Accomodation</th>
        <th width='120'>Current Accomodation</th>
        <th width='120'>Number of mattresses</th>
    </tr>
    </thead>
    <tbody>
    {% for a in alak%}
    <tr>
        <td width='120'><a target = "_blank" href="{{site_url}}controlroom/details/{{a.id}}">{{a.room_no}}</a></td>
        <td width='120'>{{a.max_number}}</td>
        <td width='120'>{{a.already_checkedin}}</td>
        <td width='120'>{{a.mattresses}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div> 
<a onclick="$('#Ganga').toggle('fast');" class="name">Ganga</a><br>
<div id = "Ganga" class="hostel"><label>Please  click again on the hostel to close this section</label>
    <table id = "Hostel" class="table table-striped table-bordered table-condensed">
    <thead>
    <tr>
        <th width='120'>Room No.</th>
        <th width='120'>Max. Accomodation</th>
        <th width='120'>Current Accomodation</th>
        <th width='120'>Number of mattresses</th>
    </tr>
    </thead>
    <tbody>
    {% for a in ganga%}
    <tr>
        <td width='120'><a target = "_blank" href="{{site_url}}controlroom/details/{{a.id}}">{{a.room_no}}</a></td>
        <td width='120'>{{a.max_number}}</td>
        <td width='120'>{{a.already_checkedin}}</td>
        <td width='120'>{{a.mattresses}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div> 
<a onclick="$('#Jamuna').toggle('fast');" class="name">Jamuna</a><br>
<div id = "Jamuna" class="hostel"><label>Please  click again on the hostel to close this section</label>
    <table id = "Hostel" class="table table-striped table-bordered table-condensed">
    <thead>
    <tr>
        <th width='120'>Room No.</th>
        <th width='120'>Max. Accomodation</th>
        <th width='120'>Current Accomodation</th>
        <th width='120'>Number of mattresses</th>
    </tr>
    </thead>
    <tbody>
    {% for a in jam %}
    <tr>
        <td width='120'><a target = "_blank" href="{{site_url}}controlroom/details/{{a.id}}">{{a.room_no}}</a></td>
        <td width='120'>{{a.max_number}}</td>
        <td width='120'>{{a.already_checkedin}}</td>
        <td width='120'>{{a.mattresses}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div> 
<a onclick="$('#Mahanadhi').toggle('fast');" class="name">Mahanadhi</a><br>
<div id = "Mahanadhi" class="hostel"><label>Please  click again on the hostel to close this section</label>
    <table id = "Hostel" class="table table-striped table-bordered table-condensed">
    <thead>
    <tr>
        <th width='120'>Room No.</th>
        <th width='120'>Max. Accomodation</th>
        <th width='120'>Current Accomodation</th>
        <th width='120'>Number of mattresses</th>
    </tr>
    </thead>
    <tbody>
    {% for a in mahanadhi %}
    <tr>
        <td width='120'><a target = "_blank" href="{{site_url}}controlroom/details/{{a.id}}">{{a.room_no}}</a></td>
        <td width='120'>{{a.max_number}}</td>
        <td width='120'>{{a.already_checkedin}}</td>
        <td width='120'>{{a.mattresses}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div> 
<a onclick="$('#Mandakini').toggle('fast');" class="name">Mandakini</a><br>
<div id = "Mandakini" class="hostel"><label>Please  click again on the hostel to close this section</label>
    <table id = "Hostel" class="table table-striped table-bordered table-condensed">
    <thead>
    <tr>
        <th width='120'>Room No.</th>
        <th width='120'>Max. Accomodation</th>
        <th width='120'>Current Accomodation</th>
        <th width='120'>Number of mattresses</th>
    </tr>
    </thead>
    <tbody>
    {% for a in mandak%}
    <tr>
        <td width='120'><a target = "_blank" href="{{site_url}}controlroom/details/{{a.id}}">{{a.room_no}}</a></td>
        <td width='120'>{{a.max_number}}</td>
        <td width='120'>{{a.already_checkedin}}</td>
        <td width='120'>{{a.mattresses}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div> 
<a onclick="$('#Pampa').toggle('fast');" class="name">Pampa</a><br> 
<div id = "Pampa" class="hostel"><label>Please  click again on the hostel to close this section</label>
    <table id = "Hostel" class="table table-striped table-bordered table-condensed">
    <thead>
    <tr>
        <th width='120'>Room No.</th>
        <th width='120'>Max. Accomodation</th>
        <th width='120'>Current Accomodation</th>
        <th width='120'>Number of mattresses</th>
    </tr>
    </thead>
    <tbody>
    {% for a in pamba%}
    <tr>
        <td width='120'><a target = "_blank" href="{{site_url}}controlroom/details/{{a.id}}">{{a.room_no}}</a></td>
        <td width='120'>{{a.max_number}}</td>
        <td width='120'>{{a.already_checkedin}}</td>
        <td width='120'>{{a.mattresses}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
<a onclick="$('#Sindhu').toggle('fast');" class="name">Sindhu</a><br>
<div id = "Sindhu" class="hostel"><label>Please  click again on the hostel to close this section</label>
    <table id = "Hostel" class="table table-striped table-bordered table-condensed">
    <thead>
    <tr>
        <th width='120'>Room No.</th>
        <th width='120'>Max. Accomodation</th>
        <th width='120'>Current Accomodation</th>
        <th width='120'>Number of mattresses</th>
    </tr>
    </thead>
    <tbody>
    {% for a in sindhu%}
    <tr>
        <td width='120'><a target = "_blank" href="{{site_url}}controlroom/details/{{a.id}}">{{a.room_no}}</a></td>
        <td width='120'>{{a.max_number}}</td>
        <td width='120'>{{a.already_checkedin}}</td>
        <td width='120'>{{a.mattresses}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div> 
<a onclick="$('#Tamraparani').toggle('fast');" class="name">Tamraparani</a><br> 
<div id = "Tamraparani" class="hostel"><label>Please  click again on the hostel to close this section</label>
    <table id = "Hostel" class="table table-striped table-bordered table-condensed">
    <thead>
    <tr>
        <th width='120'>Room No.</th>
        <th width='120'>Max. Accomodation</th>
        <th width='120'>Current Accomodation</th>
        <th width='120'>Number of mattresses</th>
    </tr>
    </thead>
    <tbody>
    {% for a in tambi%}
    <tr>
        <td width='120'><a target = "_blank" href="{{site_url}}controlroom/details/{{a.id}}">{{a.room_no}}</a></td>
        <td width='120'>{{a.max_number}}</td>
        <td width='120'>{{a.already_checkedin}}</td>
        <td width='120'>{{a.mattresses}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
<a onclick="$('#Sarayu_Extn').toggle('fast');" class="name">Sarayu Extn</a><br> 
<div id = "Sarayu_Extn" class="hostel"><label>Please  click again on the hostel to close this section</label>
    <table id = "Hostel" class="table table-striped table-bordered table-condensed">
    <thead>
    <tr>
        <th width='120'>Room No.</th>
        <th width='120'>Max. Accomodation</th>
        <th width='120'>Current Accomodation</th>
        <th width='120'>Number of mattresses</th>
    </tr>
    </thead>
    <tbody>
    {% for a in sarayu_extn%}
    <tr>
        <td width='120'><a target = "_blank" href="{{site_url}}controlroom/details/{{a.id}}">{{a.room_no}}</a></td>
        <td width='120'>{{a.max_number}}</td>
        <td width='120'>{{a.already_checkedin}}</td>
        <td width='120'>{{a.mattresses}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
<a onclick="$('#C28').toggle('fast');" class="name">C-2-8</a><br> 
<div id = "C28" class="hostel"><label>Please  click again on the hostel to close this section</label>
    <table id = "Hostel" class="table table-striped table-bordered table-condensed">
    <thead>
    <tr>
        <th width='120'>Room No.</th>
        <th width='120'>Max. Accomodation</th>
        <th width='120'>Current Accomodation</th>
        <th width='120'>Number of mattresses</th>
    </tr>
    </thead>
    <tbody>
    {% for a in c28%}
    <tr>
        <td width='120'><a target = "_blank" href="{{site_url}}controlroom/details/{{a.id}}">{{a.room_no}}</a></td>
        <td width='120'>{{a.max_number}}</td>
        <td width='120'>{{a.already_checkedin}}</td>
        <td width='120'>{{a.mattresses}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
<a onclick="$('#Sarayu').toggle('fast');" class="name">Sarayu</a><br> 
<div id = "Sarayu" class="hostel"><label>Please  click again on the hostel to close this section</label>
    <table id = "Hostel" class="table table-striped table-bordered table-condensed">
    <thead>
    <tr>
        <th width='120'>Room No.</th>
        <th width='120'>Max. Accomodation</th>
        <th width='120'>Current Accomodation</th>
        <th width='120'>Number of mattresses</th>
    </thead>
    <tbody>
    {% for a in sarayu%}
    <tr>
        <td width='120'><a target = "_blank" href="{{site_url}}controlroom/details/{{a.id}}">{{a.room_no}}</a></td>
        <td width='120'>{{a.max_number}}</td>
        <td width='120'>{{a.already_checkedin}}</td>
        <td width='120'>{{a.mattresses}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
<a onclick="$('#Sharavati').toggle('fast');" class="name">Sharavati</a><br>
<div id = "Sharavati" class="hostel"><label>Please  click again on the hostel to close this section</label>
    <table id = "Hostel" class="table table-striped table-bordered table-condensed">
    <thead>
    <tr>
        <th width='120'>Room No.</th>
        <th width='120'>Max. Accomodation</th>
        <th width='120'>Current Accomodation</th>
        <th width='120'>Number of mattresses</th>
    </tr>
    </thead>
    <tbody>
    {% for a in sharav%}
    <tr>
        <td width='120'><a target = "_blank" href="{{site_url}}controlroom/details/{{a.id}}">{{a.room_no}}</a></td>
        <td width='120'>{{a.max_number}}</td>
        <td width='120'>{{a.already_checkedin}}</td>
        <td width='120'>{{a.mattresses}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div> 
</body>
</html>
