<center><b>Event Details</center></b><br/>
	{% csrf_token %}
<table id="EditEventForm">
    {{ event_form.as_table }}
</table>
<br>
<button class="btn btn-primary" onclick="edit_event({{id}});" >Edit</button>
<button class="btn btn-primary" onclick="close_event_form();" >Close</button>
<script type="text/javascript">
function load_add_tag(){
    html="<td><div id='msg'>Add a tag</div><div id='addTag'></div></td>";
    $("table tr:eq(2)").append(html);
    $('.chzn-select').chosen();
} 
    $(document).ready(function(){
    	load_add_tag();
       $("#msg").click(function(){
            $(this).hide();
            $("#addTag").append("<p>Enter Tag Name: <input type='text' id='addTag_text' / ><button type='button' class='btn btn-primary' onclick='add_tag();' id='addTag'>Add</button>");
       });
    });
function add_tag(){
    text = $('#addTag_text').attr('value');
    $('#id_tags').removeClass('chzn-done');
    $('#id_tags').append("<option>"+text+"</option>");
    Dajaxice.coord.add_tag(Dajax.process,{'text':text,});
}
function close_event_form(){
	$('#editevent').hide();
	$('#eventdetails').show();
}
</script>