<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Shaastra 2013 Sponsorship Portal</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Le styles -->
        <link href="{{MEDIA_URL}}bootstrap/css/bootstrap.css" rel="stylesheet">
        <style>

      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }        
            #external{text-decoration:none;}
			textarea{
        				width: 960px;
        				height: 170px;
					}
			img{
				
					height: 100%;
				}

        </style>        
        <!-- edit.css has special script for subnav and some other changes-->
        <link href="{{MEDIA_URL}}bootstrap/css/edit.css" rel="stylesheet">
        <link href="{{MEDIA_URL}}bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- Le fav and touch icons -->
<!--    <link rel="shortcut icon" href="{{MEDIA_URL}}bootstrap/ico/favicon.ico">

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{MEDIA_URL}}bootstrap/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{MEDIA_URL}}bootstrap/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{MEDIA_URL}}bootstrap/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{{MEDIA_URL}}bootstrap/ico/apple-touch-icon-57-precomposed.png"> -->
    </head>
	

    <body >

        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">

                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>

                    </a>
                    
                    <a class="brand" href="http://shaastra.org" target="_blank" id="external"><span style="font-size:23px; line-height:26px;">Shaastra 2013</span></a>
					
                    
                    <div class="nav-collapse">

                        <ul class="nav">
                            <li class="divider-vertical"></li>
                            <!--Show active tab-->
                            {% block navigation %}
                            {% endblock %}
                        </ul>
                        <!-- Link to admin page --> 
                        <ul class="nav pull-right">
                            <li class="divider-vertical"></li>
                            <li>
                                <a href="{{SITE_URL}}admin" target="_blank">Admin</a>
                            </li>
                            {% if request.user.is_authenticated %}
                            <li>
                                <a href="{{SITE_URL}}logout">Logout</a>
                            </li>                            
                            {% endif %}
                        </ul>
                        
                    </div><!--/.nav-collapse -->
                    
                </div><!--/.container -->

            </div><!--/.navbar-inner -->
        </div><!--/.navbar-fixed-top -->
        
        
        <!-- Content of each page -->
        <div class="container">
            <!-- Indication that user has logged in -->
            {% if request.user.is_authenticated %}
                <h5 class="pull-right">You are currently logged in as {{request.user}}.</h5>
            {% endif %}
            {% block content %}{% endblock %}
        </div>

        <!-- Le javascript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="{{MEDIA_URL}}bootstrap/js/jquery.js"></script>
        <script src="{{MEDIA_URL}}bootstrap/js/bootstrap-transition.js"></script>
        <script src="{{MEDIA_URL}}bootstrap/js/bootstrap-alert.js"></script>
        <script src="{{MEDIA_URL}}bootstrap/js/bootstrap-modal.js"></script>
        <script src="{{MEDIA_URL}}bootstrap/js/bootstrap-dropdown.js"></script>
        <script src="{{MEDIA_URL}}bootstrap/js/bootstrap-scrollspy.js"></script>
        <script src="{{MEDIA_URL}}bootstrap/js/bootstrap-tab.js"></script>
        <script src="{{MEDIA_URL}}bootstrap/js/bootstrap-tooltip.js"></script>
        <script src="{{MEDIA_URL}}bootstrap/js/bootstrap-popover.js"></script>
        <script src="{{MEDIA_URL}}bootstrap/js/bootstrap-button.js"></script>
        <script src="{{MEDIA_URL}}bootstrap/js/bootstrap-collapse.js"></script>
        <script src="{{MEDIA_URL}}bootstrap/js/bootstrap-carousel.js"></script>
        <script src="{{MEDIA_URL}}bootstrap/js/bootstrap-typeahead.js"></script>
        <!-- This is to allow automatic padding rather than specify since layout of each page is different -->
        <script>
/*        $(document).ready(function() {
            $("body").css('padding-top',$(".navbar-fixed-top").height());
            $("body").css('padding-bottom',$(".navbar-fixed-bottom").css("height"));
        });*/
        </script>
        <link rel="shortcut icon" href="{{MEDIA_URL}}fav.ico" >
        {% block js %}{% endblock %}
        
        
    </body>
</html>
