{% extends "home.html" %}
<!--<h1> <center>Welcome to Shaastra 2013 Sponsorship Portal </center></h1>-->
{% block home %} {% endblock %}
{% block index %}
<table border='1'>
<tr>
<td><a href='/'>Home</a></td>
<td> </td>
<td> </td>
<td><a href="/category/">Events</a><br/></td>
<td>  </td>
<td> </td>
{% for topic in topics %}
	<td><a href="/topic/{{topic.url_name}}/">{{topic.title}}</a></td>
	<td>  </td>
	<td>  </td>
{% endfor %}
</tr>
</table>
{% endblock %}
<hr>
{% block title %}Categories of events {% endblock %}
<center>The events up for sponsorship fall under these categories. Click 
on the events for more information.</center>
<br/><br/>
{% block body %}
<table border='1'>

{% for i in categories %}
<tr>
     <td><a href="/category/{{i.url_name}}/">{{i.name}}</a></td>
    {% for j in photos_list %}
        {% if j.category == i %}       
            <td><img src="{{MEDIA_URL}}{{j.image}}" width="100px" height="100px" /></td>
        {% endif %}
    {% endfor %}
</tr>   
{% endfor %}
</table>
{% endblock %}
{% block end %}
<hr>
<a href='/'>back</a>
{% endblock %}

