{% extends "base.html" %}
<!--Show active tab-->
{% block navigation %}
                          
    <li><a href="{{SITE_URL}}">Home</a></li>
                                             
    <li class="active"><a href="{{SITE_URL}}category/">Events</a></li>
                            
    {% for topic in topics %}
        <li>
            <a href="{{SITE_URL}}topic/{{topic.url_name}}/">{{topic.title}}</a>
        </li>    
    {% endfor %}
{% endblock %}

{% block content %}
{% comment %}
<!-- Navigation list on top
================================================== -->
<header class="jumbotron subhead" id="overview">
  <div class="subnav-fixed">
    <ul class="nav nav-pills">
    {% for i in categories %}
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span style="text-transform: uppercase">{{i.name}}</span><b class="caret"></b></a>
        <ul class="dropdown-menu">
        <li><a href="{{SITE_URL}}category/{{i.url_name}}/">All Events</a></li>
        <li class="divider"></li>
        {% for j in events %}
            {% if j.category == i %}
                <li><a href="{{SITE_URL}}category/{{i.url_name}}#{{j.id}}">{{j.title}}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
      </li>
    {% endfor %}
    </ul>
  </div>
</header>
{% endcomment %}

<!-- side nav bar -->
<div id="side-nav-bar" class="span3">
	</br>
	</br>
	<ul class="nav nav-tabs nav-stacked">
		{% for i in categories %}
			<li><a href="#" data-toggle="collapse" data-target="#side{{i.id}}"><span style="text-transform: uppercase"><strong>{{i.name}}</strong></span></a></li>
			<div id="side{{i.id}}" class="collapse ">
			<ul class="nav nav-pills nav-stacked">
				<li><a href="{{SITE_URL}}category/{{i.url_name}}/">All Events</a></li>
        		<li class="divider"></li>
        		{% for j in events %}
            		{% if j.category == i %}
                	<li><a href="{{SITE_URL}}category/{{i.url_name}}#{{j.id}}">{{j.title}}</a></li>
            		{% endif %}
        		{% endfor %}
			</ul>
			</div>
		{% endfor %}
	</ul>
</div>

<!--Thumbnails with short description
================================================== -->
    
    <div id="main" class="span8">
    <hr>
        <h2>Events Galore</h2>
        <hr>
        <p><b>Events in Shaastra are under the following categories.</b></p>
        <ul class="thumbnails">
            {% for i in categories %}
                <li class="span3">
                
                    <div class="thumbnail">
                        {% for j in photos_list %}
                            {% if j.category == i %}
                            <a href="{{SITE_URL}}category/{{i.url_name}}/">       
                            <img src="{{MEDIA_URL}}{{j.image}}"  alt="" />
                            </a>  
                            {% endif %}
                        {% endfor %}   
                        <div class="caption">
                            <h5><span style="text-transform: uppercase"><a href="{{SITE_URL}}category/{{i.url_name}}/" id="external"><font color="000033">{{i.name}}</font></a></span></h5>
                            <p>
                            {% for j in events %}
                                {% if j.category == i %}
                                    <span class="label"><a href="{{SITE_URL}}category/{{i.url_name}}#{{j.id}}">{{j.title}}</a></span>
                                {% endif %}
                            {% endfor %}
                            </p>
                            <!--<p><a href="{{SITE_URL}}category/{{i.url_name}}/" class="btn btn-primary">Know More</a>-->
                        </div><!-- /.caption -->
                    </div><!-- /.thumbnail -->
                
                </li>
            {% endfor %}            
        </ul>
    </div><!-- /.main -->
   
{% endblock %}
{% block js %}

<script type="text/javascript">
$(document).ready(function(){
var maxHeight = 0;
$('.thumbnails li').each(function() { maxHeight = Math.max(maxHeight, $(this).height()); }).height(maxHeight);
});
</script>
{% endblock %}
