{% extends "base.html" %}
 
{% block navigation %}
                          
    <li><a href="{{SITE_URL}}">Home</a></li>
                                             
    <li class="active"><a href="{{SITE_URL}}category/">Events</a></li>
                            
    {% for topic in topics %}
        <li>
            <a href="{{SITE_URL}}topic/{{topic.url_name}}/">{{topic.title}}</a>
        </li>    
    {% endfor %}

{% endblock %}

{% block content %}

<!-- Navigation list on left
================================================== -->
<div class="row">
    <div class="span3">
		<div class="well sidebar-nav">
            {% for i in categories %}
                <ul class="nav nav-pills">
                <h5><a href="{{SITE_URL}}category/{{i.url_name}}/" class="pull-left"><span style="text-transform: uppercase">{{i.name}}</span></a></h5>
                    <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><b class="caret"></b></a>
                    <ul id="menu1" class="dropdown-menu">
                        {% for j in events %}
                            {% if j.category == i %}
                                <li {% ifequal "/category/{{i.url_name}}/" request.path %}class="active"{% endifequal %}><a>{{j.title}}</a></li>
                            {% endif %}
                        {% endfor %}
                        
                    </ul>
                    </li>
                </ul>  
            {% endfor %}		
        <!--<ul class="nav nav-list">
            {% for i in categories %}
                <li class="nav-header"><a href="{{SITE_URL}}category/{{i.url_name}}/">{{i.name}}</a></li>
                {% for j in events %}
                    {% if j.category == i %}
                        <li {% ifequal "/category/{{i.url_name}}/" request.path %}class="active"{% endifequal %}><a>{{j.title}}</a></li>
                    {% endif %}
                {% endfor %}
            {% endfor %}    
        </ul>-->
		</div>
    </div>    

<!--Events-->
    
    <div id="events" class="span9">
    <h2><center>Events under {{c.name}}</center></h2></br>
        
        {% for i in events_list %}
        <div id="writing" class="span5">
            <div class="well">
            
                <h5>{{i.title}}</h5>  
                
                <!-- label for showing status of event -->
                {% if i.status == "s" %}
    	            <span class="label label-success">Sold</span>
                {% endif %}
                {% if i.status == "a"%}
           	        <span class="label label-important">Available</span>
                {% endif %}
                </br></br>
                
                <!-- event description -->
                {{i.about}}
                </br></br>
            
            </div><!--/.well -->
        </div><!-- /.writing -->
        
        <div id="images" class="span3">
                          
                <!-- image carousel -->
                <div id="{{i.id}}" class="carousel slide">
                    
                    <div class="carousel-inner">
                    
                        <div class="item active">
                            <img src="{{MEDIA_URL}}sponsors/shaastra.jpg" width="300px" height="200px" alt="">
                        </div>                    
                    
                    {% for j in photos_list %}
                        {% if j.event == i %}
                        <div class="item">
                            <img src="{{MEDIA_URL}}{{j.image}}" width="300px" height="200px" alt="">
                        </div>
                        {% endif %}
                    {% endfor %}
                  
                    </div><!--/.carousel-inner -->
                  
                    <a class="left carousel-control" href="#{{i.id}}" data-slide="prev">&lsaquo;</a>
                    <a class="right carousel-control" href="#{{i.id}}" data-slide="next">&rsaquo;</a>
                </div><!--/.i -->
                
        </div><!-- /.images -->        
        {% endfor %}
        
    </div><!--/.events -->


</div><!--/.row -->
{% endblock %}
{% block js %}
<!-- Script is for automatic cycling with interval as mentioned below -->   
<script>
{% for i in events_list %}
    $('#{{i.id}}').carousel({
        interval: 3000
    });
{% endfor %}
</script> 
{% endblock %}
