{% extends "base.html" %}
 
{% block navigation %}
                          
    <li><a href="{{SITE_URL}}">Home</a></li>
                                             
    <li class="active"><a href="{{SITE_URL}}category/">Events</a></li>
                            
    {% for topic in topics %}
        <li>
            <a href="{{SITE_URL}}topic/{{topic.url_name}}/">{{topic.title}}</a>
        </li>    
    {% endfor %}

{% endblock %}

{% block content %}
  
<!-- side nav bar -->
<div class="span2">
	<br>
	<div>
	<br>
	<ul class="nav nav-tabs nav-stacked">
		{% for i in categories %}
    		<li {% ifequal c.url_name i.url_name %}class="dropdown active"{% endifequal %}{% ifnotequal c.url_name i.url_name %}class="dropdown"{% endifnotequal %}>
    		    <a href="#category"  data-toggle="collapse" data-target="#side{{i.id}}"><span style="text-transform: uppercase"><strong>{{i.name}}</strong></span></a>
    		</li>
			<div id="side{{i.id}}" {% ifequal c.url_name i.url_name %}{% endifequal %}{% ifnotequal c.url_name i.url_name %}class="collapse"{% endifnotequal %}>
			<ul class="nav nav-pills nav-stacked">
				<li><a href="{{SITE_URL}}category/{{i.url_name}}#all-events"><b>All Events</b></a></li>
        		<li class="divider"></li>
        		{% for j in events %}
            		{% if j.category == i %}
                	<li><a href="{{SITE_URL}}category/{{i.url_name}}#{{j.id}}">{{j.title}}</a></li>
            		{% endif %}
        		{% endfor %}
			</ul>
			</div>
		{% endfor %}
	</ul>
</div>
</div>
<!--Events-->
 
    <div id="events" class="span9 events-pull-right">
    <hr>
    <h2><center>EVENTS UNDER <span style="text-transform: uppercase">{{c.name}}</span></center></h2>
    <hr> 
        {% for i in events_list %}

          <div class="accordion span8" id="accordion">
			</br>
            <div name="{{i.id}}" id="{{i.id}}" class="accordion-group">
				
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse{{i.id}}" id="external">
                  <h5 style="font-size:13px; color: rgb(50,50,50);"><span style="text-transform: uppercase" >{{i.title}}</span></h5>
                </a>
              </div>
              <div id="collapse{{i.id}}" class="accordion-body collapse ">
				
                <div class="accordion-inner span4">
					<div class="well">
					{% if i.status == "s" %}
    	                <span class="label label-important">Sold</span>
                    {% endif %}
                    {% if i.status == "a"%}
           	            <span class="label label-success">Available</span>
                    {% endif %} <br><br>
                                     
                    <div align="justify">{{i.about}}</div>
					</div>
                </div><!--/.accordion-inner -->
				                    
                <div class="accordion-inner span3 pull-right">
				{% for event1 in event_less_photos %}
					{% if i == event1 %}
						{% for j in photos_list %}
						{% if j.event == i %}
						<ul class="thumbnails">
							<li class="span3">
							<div style="height:200px" align="center">
							<img src='{{MEDIA_URL}}{{j.image}}' alt="" >
							</div>
							</li>
						</ul>
						{% endif %}
						{% endfor %}
					{% endif %}
				{% endfor %}

				{% for event2 in event_more_photos %}
					{% if i == event2 %}
                <div id="{{i.id}}{{i.id}}" class="carousel slide">
                    <div class="carousel-inner">
                    
                        <div class="item active">
                         {% for j in photos_list %}
                       	 {% if j.event == i %}
							{% ifchanged i %}
							<div style="height: 200px" align="center">
                        	 <img src="{{MEDIA_URL}}{{j.image}}" alt="">
							</div>
							{% endifchanged %}
                         {% endif %}
                    	 {% endfor %}   
                        </div>                    
                    
                    {% for j in photos_list %}
                        {% if j.event == i %}
							{% ifchanged i %}
							{% else %}
                        		<div class="item">
									<div style="height: 200px" align="center">
                            		<img src="{{MEDIA_URL}}{{j.image}}"  alt="">
									</div>
                       			</div>
							{% endifchanged %}
                        {% endif %}
                    {% endfor %}
                  
                    </div><!--/.carousel-inner -->
                  
                    <a class="left carousel-control" href="#{{i.id}}{{i.id}}" data-slide="prev">&lsaquo;</a>
                    <a class="right carousel-control" href="#{{i.id}}{{i.id}}" data-slide="next">&rsaquo;</a>					
                </div>
				{% endif %}
				{% endfor %}
                </div><!--/.accordion-inner -->
                                    
                <!--<div id="{{i.id}}{{i.id}}" class="carousel slide span3">
                    
                    <div class="carousel-inner">
                    
                        <div class="item active">
                         {% for j in photos_list %}
                       	 {% if j.event == i %}
							{% ifchanged i %}
                        	 <img src="{{MEDIA_URL}}{{j.image}}" width="300px" height="200px" alt="">
							{% endifchanged %}
                         {% endif %}
                    	 {% endfor %}   
                        </div>                    
                    
                    {% for j in photos_list %}
                        {% if j.event == i %}
							{% ifchanged i %}
							{% else %}
                        		<div class="item">
                            		<img src="{{MEDIA_URL}}{{j.image}}" width="300px" height="200px" alt="">
                       			</div>
							{% endifchanged %}
                        {% endif %}
                    {% endfor %}
                  
                    </div><!--/.carousel-inner -->
                  
<!--                    <a class="left carousel-control" href="#{{i.id}}{{i.id}}" data-slide="prev">&lsaquo;</a>
                    <a class="right carousel-control" href="#{{i.id}}{{i.id}}" data-slide="next">&rsaquo;</a>
                </div><!--/.i -->
                     

              </div><!--/.accordion-body collapse in -->
            </div><!--/.accordion group -->
          </div><!--/.accordion-->
        {% endfor %}  
    </div><!--/.events -->
</div><!--/.row -->
{% endblock %}

{% block js %}
<!-- Script is for automatic cycling with interval as mentioned below -->   
<script>
{% for i in events_list %}
    $('#{{i.id}}{{i.id}}').carousel({
        interval: 3000
    });
/* window.location.hash will return # followed be the anchor id for example
#13 or #17. Remove hash and this gives you the id. Compare and display the 
particular event */
var id = window.location.hash.replace("#", "")
if (id){
    if (id=={{i.id}}){
    $('#collapse{{i.id}}').collapse("show");
    }
	}

{% endfor %}

var id= window.location.hash.replace("#","")
if (id){
	if (id=="all-events"){
		{% for i in events_list %}
		 	$('#collapse{{i.id}}').collapse("show");
		{% endfor %}
		document.write("<h3><font color=\"000033\"><a class=\"pull-right\" href=\"#\" id=\"external\"><pre>    BACK TO TOP    <\/pre><\/a><\/font><h3><br><br>");
		}
	} 
</script> 
{% endblock %}
