{% extends "base.html" %}

{% block navigation %}
                          
    <li class="active"><a href="{{SITE_URL}}"><span style="font-size:16px; line-height:25px;">Home</home></a></li>
                                             
    <li><a href="{{SITE_URL}}category/"><span style="font-size:16px; line-height:25px;">Events</span></a></li>
                            
    {% for topic in topics %}
        <li>
            <a href="{{SITE_URL}}topic/{{topic.url_name}}/"><span style="font-size:16px; line-height:25px;">{{topic.title}}</span></a>
        </li>    
    {% endfor %}
    
{% endblock %}

{% block content %}
<style>
      body {
        background-color:rgb(248,248,248);
      }     
			textarea{
        				width: 560px;
        				height: 170px;
					}         
</style>        
	




     <!-- Carousel
     For carousel to work with slide effect bootstrap-transition.js must also be included
    ================================================== -->
    <section id="carousel">
        <div class="row">
            <div class="span8 columns"><br><br>
            	<h1 style="font-family:Yanone Kafeesatz; "><img src="{{MEDIA_URL}}shaastralogo.png"><small style=" font-size:35px; ">Sponsorship Portal</small></h1>
               </br></br>          
                <!-- About Shaastra -->
                    <p> {{home_content.display_mySafeField}}</p><br>




<!-- form for editing content -->
{% if request.user.is_authenticated %}
<div>
	<i class="icon-pencil"></i><font color = "gray"><b>YOU CAN EDIT HOME PAGE CONTENT HERE.</b></font>
</div>
    <form action="" method="POST">
        {% csrf_token %}
		<div>
            {{form}}
            <input type="submit" value="Save">
		</div>
        
    </form>
{% endif %} 


            </div>
                
      
                
            
            <div id="sidebar" class="span3 offset1">
            <br><br><br>
				<div>
                <span  style="font-size:22px;"><b>Previous Sponsors</b></span>
                <h6>Shaastra 2011</h6>
				</div>
				{% if previous_sponsors %}
                
                <div id="myCarousel" class="carousel slide">
                    
                    <div class="carousel-inner">
                    
                        
                        	{% for i in previous_sponsors %}
                        	
								{% if forloop.first %}
                        	     <div class="item active" style="height: 200px" align="center">
                        	     <img src="{{MEDIA_URL}}{{i.logo}}" alt="" >
                        	     </div>
								{% endif %}
								
                            {% endfor %}  
                        
                    
                    
                    {% for i in previous_sponsors %}
						{% if not forloop.first %}
                        <div class="item" style="height: 200px" align="center">
                            <img src="{{MEDIA_URL}}{{i.logo}}" width="300px" height="200px" alt="">
                        </div>
						{% endif %}
                    {% endfor %}
                  
                    </div><!--/.carousel-inner -->
                  
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
                </div><!--/.myCarousel -->
			{% endif %}
                <br>

                <!--scroll up for quotes from previous sponsors-->
                <marquee behaviour="scroll" direction="up" scrollamount="2">
                {% for i in quotes %}
                
                    <h4><span style="font-size:21px; line-height:29px;">{{i.name}}</span></h4>
                    <!--<img src="{{MEDIA_URL}}quotestart.png" alt="">-->
                    <b><font color="3a87ad">{{i.quote}}</font></b>
                    <!--<img src="{{MEDIA_URL}}quoteend.png" alt="">-->
                    
                {% endfor %}
                </marquee>
          <br><br>     
          <div id="myModal" class="modal hide fade">

            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h3>QUOTES FROM PREVIOUS SPONSORS</h3>
            </div>
            <div class="modal-body">
            {% for i in quotes %}
              <h4>{{i.name}}</h4>
              <p>{{i.quote}}</p>
              <hr>
            {% endfor %}  
            </div>

            <div class="modal-footer">
              <a href="#" class="btn btn-primary" data-dismiss="modal" >Close</a>
            </div>
          </div>
          <a data-toggle="modal" href="#myModal" class="pull-right" id="external"><h6>See all quotes!</h6></a>

                
            </div><!--/.sidebar -->
        </div><!--/.row -->
    </section>
    
{% endblock %}

{% block js %}

<!-- Script is for automatic cycling with interval as mentioned below -->   
<script>
    $('#myCarousel').carousel({
       interval: 3000
    });
</script> 
{% endblock %}
