{% extends "base.html" %}

{% block navigation %}
                          
    <li class="active"><a href="{{SITE_URL}}">Home</a></li>
                                             
    <li><a href="{{SITE_URL}}category/">Events</a></li>
                            
    {% for topic in topics %}
        <li>
            <a href="{{SITE_URL}}topic/{{topic.url_name}}/">{{topic.title}}</a>
        </li>    
    {% endfor %}
    
{% endblock %}

{% block content %}
<style>
      body {
        background-color:#e2e2e2;
      }     
			textarea{
        				width: 560px;
        				height: 170px;
					}         
</style>        
	




     <!-- Carousel
     For carousel to work with slide effect bootstrap-transition.js must also be included
    ================================================== -->
    <section id="carousel">
        <div class="row">
            <div class="span8 columns">
                <div class="hero-unit" style="background-color:#3a87ad" >
                    <h1 style="font-family:Yanone Kafeesatz; text-shadow:4px 2px 2px rgb(217,217,217);">Shaastra 2013 <br><small style=" font-size:35px; text-shadow: 1px 1px 0px rgb(245,245,245);">Sponsorship Portal</small></h1>
                </div>            
                <!-- About Shaastra -->
                    <p> {{home_content.display_mySafeField}}</p><br>




<!-- form for editing content -->
{% if request.user.is_authenticated %}
<div>
	<i class="icon-pencil"></i><font color = "gray"><b>YOU CAN EDIT HOME PAGE CONTENT HERE.</b></font>
</div>
    <form action="" method="POST">
        {% csrf_token %}
		<div>
            {{form}}
            <input type="submit" value="Save">
		</div>
        
    </form>
{% endif %} 


            </div>
                
      
                
            
            <div id="sidebar" class="span3 columns">
            <br>
                <h6><font size = "11px">Previous Sponsors</font></h6>
                <h6>Shaastra 2011</h6>
				{% if previous_sponsors %}
                
                <div id="myCarousel" class="carousel slide">
                    
                    <div class="carousel-inner">
                    
                        
                        	{% for i in previous_sponsors %}
                        	
								{% if forloop.first %}
                        	     <div class="item active" style="height: 200px" align="center">
                        	     <img src="{{MEDIA_URL}}{{i.logo}}" alt="" >
                        	     </div>
								{% endif %}
								
                            {% endfor %}  
                        
                    
                    
                    {% for i in previous_sponsors %}
						{% if not forloop.first %}
                        <div class="item" style="height: 200px" align="center">
                            <img src="{{MEDIA_URL}}{{i.logo}}" width="300px" height="200px" alt="">
                        </div>
						{% endif %}
                    {% endfor %}
                  
                    </div><!--/.carousel-inner -->
                  
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
                </div><!--/.myCarousel -->
			{% endif %}
                <br>

                <!--scroll up for quotes from previous sponsors-->
                <marquee behaviour="scroll" direction="up" scrollamount="2">
                {% for i in quotes %}
                
                    <h4><font color="050b3f">{{i.name}}</font></h4>
                    <img src="{{MEDIA_URL}}quotestart.png" alt="">
                    <b><font color="3a87ad">{{i.quote}}</font></b>
                    <img src="{{MEDIA_URL}}quoteend.png" alt="">
                    
                {% endfor %}
                </marquee>
          <br><br><br>      
          <div id="myModal" class="modal hide fade">

            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h3>QUOTES FROM PREVIOUS SPONSORS</h3>
            </div>
            <div class="modal-body">
            {% for i in quotes %}
              <h4>{{i.name}}</h4>
              <p>{{i.quote}}</p>
              <hr>
            {% endfor %}  
            </div>

            <div class="modal-footer">
              <a href="#" class="btn btn-primary" data-dismiss="modal" >Close</a>
            </div>
          </div>
          <a data-toggle="modal" href="#myModal" class="pull-right" id="external"><h6>See all quotes!</h6></a>

                
            </div><!--/.sidebar -->
        </div><!--/.row -->
    </section>
    
{% endblock %}

{% block js %}

<!-- Script is for automatic cycling with interval as mentioned below -->   
<script>
    $('#myCarousel').carousel({
       interval: 3000
    });
</script> 
{% endblock %}
