{% extends "base.html" %}
{% block events_menu %}
    {% for category in event_set %}
    <div id="menu{{forloop.counter}}"class="menu">
	    <div id="menutopcolour{{forloop.counter}}" class="menutopcolour">
        </div>
        <div id="menulist{{forloop.counter}}" class="menulist">
        <ul id="menuhead{{forloop.counter}}" class="menuhead">
        	{{category.0.category}}
        </ul>
        <ul>
            {% for event in category %}
     		<li onclick="window.location.href='#events/{{event|slugify}}/tab/{{event.tab_set.all.0.title}}'">{{event.title}}</li>
            {% endfor %}
	    </ul>
        </div>
    </div>
    {% endfor %}
{% endblock %}
{% block footer %}
<!-- index.html -->
 <div id="footer">
    <center>
    <div id="tabbox">
    	<div id="tab1" class="tab">
         <div id="tab1name" class="tabname">
            Aerofest
            </div>
        </div>
     <div id="tab2" class="tab">
            <div id="tab2name" class="tabname">
            Coding
            </div>
        </div>
     <div id="tab3" class="tab">
            <div id="tab3name" class="tabname">
            Design and Build
            </div>
        </div>
     <div id="tab4" class="tab">
            <div id="tab4name" class="tabname">
            Involve
            </div>
        </div>
     <div id="tab5" class="tab">
            <div id="tab5name" class="tabname">
            Quizzes
            </div>
        </div>
     <div id="tab6" class="tab">
            <div id="tab6name" class="tabname">
            Online
            </div>
        </div>
     <div id="tab7" class="tab">
            <div id="tab7name" class="tabname">
            Department Flagship
            </div>
        </div>
     <div id="tab8" class="tab">
            <div id="tab8name" class="tabname">
            Spotlight
            </div>
        </div>
     <div id="tab9" class="tab">
            <div id="tab9name" class="tabname">
            Workshops
            </div>
        </div>
      <div id="tab10" class="tab">
            <div id="tab10name" class="tabname">
            Others
            </div>
        </div>
    </div>
    </center>
    </div>
{% endblock %}
