<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>Shaastra 2013</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="description" content="Shaastra landing page" />
        <meta name="keywords" content="shaastra,landing"/>
        <link rel="stylesheet" href="{{site_url}}static/css/landing.css" type="text/css" media="screen"/>
        <!--<link rel="stylesheet" href="css/bootstrap.css" type="text/css" media="screen"/>-->
        <link rel="shortcut icon" href="{{site_url}}static/img/favicon.ico" />
        <style>
            *{
                margin:0;
                padding:0;
            }
            body{
                font-family:Arial;
                background:#000 /*url(images/bsg.png) no-repeat top left*/;
                overflow:hidden;
                width:100%;
                height:100%;
                min-width:600px;
            }
            .item
                  {
                    opacity:0;
                    position : absolute;
                    left : -200px;
                    top:0px;
                    /*-webkit-transition: all 3s ease-in-out;*/
                  }
            .title{
                width:642px;
                height:422px;
                position:absolute;
                top:250px;
                left:150px;
                /*background:transparent url(title.png) no-repeat top left;*/
            }
            #content{
                margin:0 auto;
            }
            #thelogo{
            	width:300px;
            	height:200px;
            	position: absolute;
            	z-index: 1250;
            	background:url({{site_url}}static/img/landing/logo.png) 100% 100% no-repeat;
           }
           #webspons{
            	width:340px;
            	height:200px;
            	position: absolute;
            	z-index: 1250;
            	right:2%;
            	bottom:-1%;
            	font-family:'Century Gothic',Helvetica,sans-serif;
            	color:#fff;
            	text-align:center;
            	display:none;
           } 	
        </style>
    </head>

    <body>
        <div id="content">
            <div id="trans" style="width:100%;height:100%;position:absolute;z-index:0;"></div>
            <div class="title"><img src = "images/bg_fav.png"></div>

            <div class="navigation" id="nav">
                <div class="item user">
                    <img src="{{site_url}}static/img/landing/bg_user.png" alt="" width="199" height="199" class="circle"/>
                    <a href="http://www.shaastra.org/2013/main/#" class="icon"></a>
                    <h2>Home</h2>
                    <ul>
                    </ul>
                </div>
                <div class="item home">
                    <img src="{{site_url}}static/img/landing/bg_home.png" alt="" width="199" height="199" class="circle"/>
                    <a href="http://www.shaastra.org/2013/main/#events" class="icon"></a>
                    <h2>Events</h2>
                    <ul>
            
                    </ul>
                </div>
                <div class="item shop">
                    <img src="{{site_url}}static/img/landing/bg_shop.png" alt="" width="199" height="199" class="circle"/>
                    <a href="http://www.shaastra.org/2013/main/events/shows/" class="icon"></a>
                    <h2>Shows</h2>
                    <ul>
                        
                    </ul>
                </div>
		<div class="item spons">
                    <img src="{{site_url}}static/img/landing/bg_shop.png" alt="" width="199" height="199" class="circle"/>
                    <a href="http://www.shaastra.org/2013/main/#!spons" class="icon"></a>
                    <h2>Sponsorship</h2>
                    <ul>
                        
                    </ul>
                </div>
                <div class="item camera">
                    <img src="{{site_url}}static/img/landing/bg_camera.png" alt="" width="199" height="199" class="circle"/>
                    <a href="http://www.shaastra.org/2013/main/#hospi" class="icon"></a>
                    <h2>Hospitality</h2>
                    <ul>
                        
                    </ul>
                </div>
                <div class="item fav">
                    <img src="{{site_url}}static/img/landing/bg_fav.png" alt="" width="199" height="199" class="circle"/>
                    <a href="http://www.shaastra.org/2013/main/user/register/" class="icon"></a>
                    <h2>Register</h2>
                    <ul>
                        
                    </ul>
                </div>
                <div class="item login">
                    <img src="{{site_url}}static/img/landing/bg_fav.png" alt="" width="199" height="199" class="circle"/>
                    <a href="http://www.shaastra.org/2013/main/user/login/" class="icon"></a>
                    <h2>Login</h2>
                    <ul>
                        
                    </ul>
                </div>
                <div class="item cont">
                    <img src="{{site_url}}static/img/landing/bg_fav.png" alt="" width="199" height="199" class="circle"/>
                    <a class="icon"></a>
                    <h2>Contact us</h2>
                    <!--<ul>
                        <li><a href="#">Social</a></li>
                        <li><a href="#">Support</a></li>
                        <li><a href="#">Comments</a></li>
                    </ul>-->
                </div>
                                    
            </div>
        </div>
        <div id="thelogo"></div>
        <div id="webspons">
                    		<span style="display:inline-block;float:left;font-weight:bold;width:120px;margin-top:10px;height:auto;font-size:14px;">Web Hosting Partner</span>
                    		<img src="{{site_url}}static/img/znet.png" alt="" width="200" height="auto" style="display:inline-block;float:left;cursor:pointer" onclick="window.open('http://www.znetlive.in/');">
        </div>  
        <div id="social">
    	<div onclick="window.open('https://www.facebook.com/Shaastra');" id="fb" class="socialapp"></div>
        <div id="flickr" onclick="javascript:window.open('http://www.flickr.com/photos/shaastra/');" class="socialapp"></div>
        <div onclick="window.open('https://twitter.com/Shaastra_IITM');" id="twitter" class="socialapp"></div>
        <div onclick="window.open('http://www.youtube.com/iitmshaastra')" id="youtube" class="socialapp"></div>         
        </div>
        <div id="contacts" style="">
           <div id="main">
             	<h2 style="text-align:center;">Contact us</h2>
            	<h3>Student In-Charge</h3><br>        
        			<h4>Sohan Jawale <!-- : +91-9952936437--></h4>
        			<h5>cas@smail.iitm.ac.in</h5> 
        			<br>
  					<h3>Student Relations</h3><br>
        			<h4>Syamantak Basu : </h4>
        			<h5>syamantak@shaastra.org</h5>
         		<br>
					<h4 style="padding-bottom:10px;">For any general queries, Contact :</h4>
					<h4 style="padding-bottom:6px;">Namit Chaudhary - +91-9789058153</h4>
					<h4 style="padding-bottom:6px;">Navneet Jain - +91-7200497356</h4>
					<h4 style="padding-bottom:6px;">Anshul Singh - +91-7418986060</h4>
					<h4 style="padding-bottom:6px;">Simple Kumar - +91-9789083497</h4>
					<h4>Sai Kumar - +91-7200497393</h4>
					<br>
         		<h4>Site admin</h4>
         		<h5>contactus@shaastra.org</h5>
             </div>
                <div id="footer" style="">
                <button class="btn btn-large btn-primary" style="float:right;margin-right:10px;">Close</button>
                </div>
        </div>        
        <!-- The JavaScript -->
        <script type="text/javascript" src="{{site_url}}static/js/jquery.js"></script>
        <script type="text/javascript" src="{{site_url}}static/js/jquery.easing.1.3.js"></script>
        <script type="text/javascript">
        var no_items = 8;
        var eccentricity,r;
        function reinit()
        {
                var width = $(document).width();
                
                width = (width>1200)?(0.8*width):(0.7*width);
                var height = $(document).height() - 100;
                //console.log(height, width);
                //Shifting coordinates
                var x0 = 0;
                var y0 = height;
                r  = height>width? width : height;
                var ba = height < width ? (width/height) : (height/width);
                var e2 = 1 - ba^2;
                console.log(e2);
                eccentricity = Math.sqrt(e2);
                console.log(eccentricity);
                
                var theta = Math.PI/(2*no_items);
                /*var initcssobj = {
                
                top:0,
                left:0,
                opacity:0.3
                
                };*/
                //$('.item').css(initcssobj);
                $('.title').hide();
                var i = 0;
                window.setTimeout(function(){
                
                var elems = $('.item').length;
                
                for(i=0;i<elems;i++)
                {
                //console.log(height*Math.sin(theta*i),width*Math.cos(theta*i));
                $($('.item')[i]).animate({
                        'top'       : height*Math.sin(theta*i)+20+"px",
                        'left'      : width*Math.cos(theta*i)+"px",
                        'opacity'   : 1
                        
                    },400,'easeOutBack',function(){});
                
                }
                
                                
            }       
            ,100);
        }
        window.onresize = reinit;
        $(document).ready(
            //reinit
        function()
            {
                var width = $(document).width() - 180;
                var height = $(document).height() - 100;
                
                //alert(height, width);
                //Shifting coordinates
                var x0 = 0;
                var y0 = height;
                r  = height>width? width : height;
                var ba = height < width ? (width/height) : (height/width);
                console.log(1/ba);
                var e2 = (1 - (1.0/ba)*(1.0/ba));
                console.log(e2);
                //eccentricity = Math.sqrt(e2);
        //        var no_items = 10;
                var theta = Math.PI/(2*no_items);
                /*var initcssobj = {
                
                top:0,
                left:0,
                opacity:0.3
                
                };*/
                //$('.item').css(initcssobj);
                $('.title').hide();
                var i = 0;
                window.setTimeout(function(){
                
                var elems = $('.item').length;
                
                for(i=0;i<elems;i++)
                {
                
                $($('.item')[i]).animate({
                        'top'       : height*Math.sin(theta*i)+20+"px",
                        'left'      : width*Math.cos(theta*i)+"px",
                        'opacity'   : 1
                        
                    },4000,'easeOutBack',function(){$("#social").fadeTo('3000',1.0);$('#thelogo').fadeIn('slow');$('#webspons').fadeIn('slow');});
                
                }
                
                                
            }       
            ,200);
            }
        
        );
        var prevelem;
        function reset(prevelem) {
                    var $this = $(prevelem);
                    $this.find('ul').fadeOut(500);
                    $this.find('img').stop().animate({
                        'width'     :'52px',
                        'height'    :'52px',
                        'top'       :'0px',
                        'left'      :'0px',
                        'opacity'   :'0.1'
                    },5000,'easeOutBack');

                    $this.find('a:first,h2').removeClass('active');
                }
            $(function() {
                $('#nav > div').mouseover(
                function () {
                    
                    reset(prevelem);
                    prevelem = this;
                    var $this = $(this);
                    $this.find('img').stop().animate({
                        'width'     :'199px',
                        'height'    :'199px',
                        'position'  : 'absolute',
                        'top'       : (-3)*parseInt($this.css('top')) +"px",
                        'left'      : (-3)*parseInt($this.css('left')) +"px",
                        'opacity'   :'1.0'
                    },5000,'easeOutBack',function(){
                        $(this).parent().find('ul').fadeIn(700);
                        
                    });

                    $this.find('a:first,h2').addClass('active');
                }/*,
                function () {
                    var $this = $(this);
                    $this.find('ul').fadeOut(500);
                    $this.find('img').stop().animate({
                        'width'     :'52px',
                        'height'    :'52px',
                        'top'       :'0px',
                        'left'      :'0px',
                        'opacity'   :'0.1'
                    },5000,'easeOutBack');

                    $this.find('a:first,h2').removeClass('active');
                }*/
            );
            });
        </script>
        <script type="text/javascript">
        (function($){
          $.fn.extend({
          center: function () {
                return this.each(function() {
                        var top = ($(window).height() - $(this).outerHeight()) / 2;
                        var left = ($(window).width() - $(this).outerWidth()) / 2;
                        $(this).css({position:'absolute', margin:0, top: (top > 0 ? top : 0)+'px', left: (left > 0 ? left : 0)+'px'});
                });
            }   
         });
        })(jQuery);
        </script>
         <script type="text/javascript">
        $(document).ready(function(){
			var x=$(window).width();
			if(x<1000){$("body").css({'overflow':'auto'});$("#social").css({'postion':'fixed'});}
			});
        $(window).resize(function(){
			var x=$(window).width();
			if(x<1000){$("body").css({'overflow':'auto'});$("#social").css({'postion':'fixed'});}
			});
		</script>
        <script type="text/javascript">
        $(document).ready(function(){$('#contacts').center();$("#contacts").hide();$('#thelogo').center().hide();});
        $(window).resize(function(){$('#contacts').center();$('#thelogo').center();});
        </script>
        <script type="text/javascript">
        $(document).ready(function(){
			
			$(".cont").click(function(){
				$("#contacts").fadeIn('1000');
					$("#trans").css({'background':'rgba(0,0,0,0.9)','z-index':'9999'});
					$("#trans").click(function(){
							$("#trans").css({'background':'none','z-index':'0'});
							$("#contacts").fadeOut('1000'); 	
					});
					$(".btn").click(function(){
							$("#trans").css({'background':'none','z-index':'0'});
							$("#contacts").fadeOut('1000'); 	
					});
			});
			});			
		</script>
       </body>
</html>
