<script>
$(document).ready(function(){
	$(function(){
		$('.scrollspons').jScrollPane({showArrows: false,verticalScroll: true,horizontalScroll:false,autoReinitialise: true,mouseWheelSpeed:50});
		});
	});

function openWindow( url )
{
	window.open(url, '');
	window.focus();
}
</script>
<div class="container-fluid">
<div class="row-fluid">
<ul id="myTab" class="nav nav-tabs">
<li class="tabs active"><a id="tab" href="#currentspons" data-toggle="tab">Current Sponsors</a></li>
<li class="tabs"><a id="tab" href="#spons2011" data-toggle="tab">Previous Sponsors - 2011</a></li>
<li class="tabs"><a id="tab" href="#spons2010" data-toggle="tab">Previous Sponsors - 2010</a></li>
</ul>
<div id="myTabContent" class="tab-content span11" style="overflow:visible;">
<div class="tab-pane fade in active" id="currentspons">
    <div class="tabtext" id="col2" style="text-align:justify; height:500px; float:center; width:1200px;top:0px;">
    <div class="scrollspons" style="height:480px;">
    <center>
    {% for sponsor in present_sponsors %}
        {% ifchanged sponsor.about %}
            <br><br><h3 id="sponscat">{{sponsor.about}}</h3><br>
        {% endifchanged %}
        <a href='{{sponsor.url}}' onclick="javascript:openWindow(this.href);return false;"><img id='{{sponsor.about}}' class="sponsor" src='{{sponsor.logo}}'></a>
    {% endfor %}
    <br><br><h3 id="sponscat">Apparel Sponsor</h3><br>
    <a href='http://www.spectrumcasuals.com/' onclick="javascript:openWindow(this.href);return false;"><img id='' class="sponsor" src='{{site_url}}/static/img/spectrum.jpg' width="300"></a>

    </center>
    </div>
    </div>                
</div>
<div class="tab-pane fade in" id="spons2011">
    <div class="tabtext" id="col2" style="text-align:justify; height:500px; float:center; width:1200px;top:0px;">
    <div class="scrollspons" style="height:480px;">
    <center>
    {% for sponsor in previous_sponsors %}
        {% ifchanged sponsor.about %}
            <br><h3 id="sponscat">{{sponsor.about}}</h3><br>
        {% endifchanged %}
        <a href='{{sponsor.url}}' onclick="javascript:openWindow(this.href);return false;"><img id='{{sponsor.about}}' class="sponsor" src='{{sponsor.logo}}'></a>
    {% endfor %}
    </center>
	</div>
    </div>                
</div>
<div class="tab-pane fade in" id="spons2010">
    <div class="tabtext" id="col2" style="text-align:justify; height:500px; float:center; width:1200px;top:0px;">
        <div class="scrollspons" style="height:480px;">
    <center>
    {% for sponsor in previous_sponsors2 %}
        {% ifchanged sponsor.about %}
            <br><h3 id="sponscat">{{sponsor.about}}</h3><br>
        {% endifchanged %}
        <a href='{{sponsor.url}}' onclick="javascript:openWindow(this.href);return false;"><img id='{{sponsor.about}}' class="sponsor" src='{{sponsor.logo}}'></a>
    {% endfor %}
    </center>
    </div>
    </div>                
</div>
</div>
</div>
</div>
