{% extends "base.html" %}

{% block navigation %}

    <li><a href="{{SITE_URL}}">Home</a></li>

    <li><a href="{{SITE_URL}}category/">Events</a></li>

    <!-- This is to show the topic that is active -->
    {% for i in topics %}
		<li {% ifequal topic_url_name i.url_name %}class="active"{% endifequal %} >
			<a href="{{SITE_URL}}topic/{{i.url_name}}/">{{i.title}}</a>
        </li>    
    {% endfor %}
    
{% endblock %}

{% block content %}
<!-- Description of topic -->
<hr>
<h1>{{present_topic.title}}</h1>
<hr>

{% for image in present_topic_images %}
	<img src='{{MEDIA_URL}}{{image.image}}' width="300px" height="200px" class="pull-right">
{% endfor %}

<div class="well">
    <p> {{present_topic.display_mySafeField}}</p></br></br></br></br></br></br>
</div>
</br>	
<hr>

<!-- form for editing content -->
{% if request.user.is_authenticated %}
	<p>You can edit the above contents here.</p>
    <form class="well" action="" method="POST">
        {% csrf_token %}
		<div>
            {{form}}
            <input type="submit" value="Save">
		</div>
        
    </form>
{% endif %}

{% endblock %}
