{% extends "base.html" %}

{% block navigation %}

    <li><a href="{{SITE_URL}}"><span style="font-size:16px; line-height:25px;">Home</span></a></li>

    <li><a href="{{SITE_URL}}category/"><span style="font-size:16px; line-height:25px;">Events</span></a></li>

    <!-- This is to show the topic that is active -->
    {% for i in topics %}
		<li {% ifequal topic_url_name i.url_name %}class="active"{% endifequal %} >
			<a href="{{SITE_URL}}topic/{{i.url_name}}/"><span style="font-size:16px; line-height:25px;">{{i.title}}</span></a>
        </li>    
    {% endfor %}
    
{% endblock %}

{% block content %}
<!-- Description of topic -->
<hr>
<h1>{{present_topic.title}}</h1>
<hr>
{% ifnotequal topic_url_name "Quotes" %}
	{% if present_topic_images %}
	<div class="well">
	<div class="row">
		<div class="span8">
			<p> {{present_topic.display_mySafeField}}</p></br></br></br></br></br>
		</div>
		<div class="span3">
		{% for image in present_topic_images %}
		<ul class="thumbnails">
			<li class="span3">
			<div class="thumbnail">
				<img src='{{MEDIA_URL}}{{image.image}}' width="300px" height="200px" >
			</div>
			</li>
		</ul>
		
		{% endfor %}
		</div>
		
	</div>
	</div><!-- well -->
	</br>	
	<hr>
	{% else %}
		<div class="well">
    		<p> {{present_topic.display_mySafeField}}</p></br></br></br></br></br></br>
		</div>
		</br>	
		<hr>
	{% endif %}


<!-- form for editing content -->
{% if request.user.is_authenticated %}
<div>
	<i class="icon-pencil"></i><font color = "gray"><b>YOU CAN EDIT THE ABOVE CONTENTS HERE.</b></font>
</div>
    <form class="well" action="" method="POST">
        {% csrf_token %}
		<div>
            {{form}}
            <input type="submit" value="Save">
		</div>
        
    </form>
{% endif %}
{% endifnotequal %}

{% ifequal topic_url_name "Quotes" %}
    <div class="well">
        {% for i in quotes %}
            <div>
                <h3>{{i.name}}</h3>
                    {{i.quote}}
                <hr>
            </div>   
        {% endfor %} 
    </div>     
{% if request.user.is_authenticated %}    
<div>
	<i class="icon-pencil"></i><font color = "gray"><b>YOU CAN ADD QUOTES ON THE ADMIN PAGE UNDER PORTAL/QUOTES.</b></font>
</div>  
{% endif %}         
{% endifequal %}

{% endblock %}
