{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
<div class="row-fluid">
	<div class="tabtext span7 floatleft" id="col2" style="text-align:justify;">
		<p>On behalf of the entire Shaastra team, we would like to extend a warm welcome to you and hope that you cherish each and every moment of your stay at the beautiful campus of IIT Madras.</p>
		<p>Shaastra, the annual technical festival of IIT Madras, is undeniably one of the largest technical festivals of India having achieved huge feats with unparalleled figures ever since its inception in 2000. It provides a unique platform for young minds to stretch their imaginations to the limit and exhibit their skills across a multitude of technically challenging, arduous and thought provoking events traversing all fields of engineering. A festival of this magnitude naturally implies a humungous turn up of participants. We, the Hospitality team at Shaastra have pledged to leave no stone unturned to ensure that your stay with us is enjoyable and comfortable. Hospitality of the guests is of paramount importance to us. </p>
   </div>
   <div class="tabtext span5 floatright" id="col2">
    	<p>For more information, <input type="button" value="Click Here" onclick="window.location.href='static/Hospitality_content.pdf'" class="btn btn-inverse"></p>
      <p>For alternate accommodation, <input type="button" value="Click Here" onclick="window.location.href='static/Alternate_Accommodation.pdf'" class="btn btn-inverse"></p> 
   </div>
</div>
</div>
{% endblock %}
{% block footer %}<div id="footer"></div>{% endblock %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script language = 'JavaScript' type="text/javascript" src="{{site_url}}static/js/bootstrap-tab.js" charset = "utf-8"></script>
<script type="text/javascript" >
	jQuery(function($) {
	 $(".menu").css({visibility:"hidden"});
	  $('#tabbox').css('visibility','hidden');
});
</script>
