<!--<style>
#textboxes
{
	height:900px;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>-->
<script>
$(document).ready(function(){
	$(function(){
		$('.tabtext').jScrollPane({showArrows: true,verticalScroll: true,horizontalScroll:false,autoReinitialise: true});
		});
	});
</script>
<style>
.tabtext
{
	top:-10px;
}
</style>
<div class="container-fluid">
<div class="row-fluid">
<ul id="myTab" class="nav nav-tabs">
<li class="tabs active"><a id="tab" href="#introduction" data-toggle="tab">Introduction</a></li>
<li class="tabs"><a id="tab" href="#reachingiitm" data-toggle="tab">Reaching IITM</a></li>
<li class="tabs"><a id="tab" href="#shaastradesk" data-toggle="tab">Shaastra Desk</a></li>
<li class="tabs"><a id="tab" href="#alternateaccomodation" data-toggle="tab">Alternate Accommodation</a></li>
<li class="tabs"><a id="tab" href="#uponreaching" data-toggle="tab">Upon Reaching</a></li>
<li class="tabs"><a id="tab" href="#faq" data-toggle="tab">FAQ</a></li>
<li class="tabs"><a id="tab" href="#instructions" data-toggle="tab">Instructions</a></li>
<li class="tabs"><a id="tab" href="#contact" data-toggle="tab">Contact</a></li>
</ul>
<div id="myTabContent" class="tab-content span11" style="overflow:visible">
<div class="tab-pane fade in active" id="introduction">
    <div class="tabtext span10 floatleft" id="col2" style="text-align:justify;width:1200px;">
	<div id="textboxes">
		<p>On behalf of the entire Shaastra team, we would like to extend a warm welcome to you and hope that you cherish each and every moment of your stay at the beautiful campus of IIT Madras. Shaastra, the annual technical festival of IIT Madras, is undeniably one of the largest technical festivals of India having achieved huge feats with unparalleled figures ever since its inception in 2000. It provides a unique platform for young minds to stretch their imaginations to the limit and exhibit their skills across a multitude of technically challenging, arduous and thought provoking events traversing all fields of engineering. A festival of this magnitude naturally implies a humungous turn up of participants. We, the Hospitality team at Shaastra have pledged to leave no stone unturned to ensure that your stay with us is enjoyable and comfortable. Hospitality of the guests is of paramount importance to us.</p>
        <p>IIT Madras is commonly referred to as <b><i>‘Land of stationary rivers and moving mountains’</i></b>
thanks to the hostel names, based on Indian rivers. It is situated on Sardar Patel Road and is
flanked by Adyar, Taramani and Velachery. The campus is opposite to the Central Leather
Research Institute and Anna University and is spread over 630 acres of lush green forest. One
could go on a bird-watching spree and spot exotic species nesting in the forest cover. Be it the
lush-green Chemplast Cricket stadium or the extensive grazing grounds for the deer in the
campus or the magnificent lake in the forest, the campus could well be a destination for all you
nature-lovers out there!</p>
        <p>Hope to see you here at Shaastra 2013. We will be more than happy to be able to address your
suggestions and queries.</p>
	</div>
   </div>                
</div>
<div class="tab-pane fade in" id="reachingiitm">
    <div class="tabtext span10 floatleft" id="col2" style="text-align:justify;">
		<p>The campus is midway between the Chennai Airport and the Central Railway station. It is 12
kms from the Central Railway station, Chennai Airport and the central bus depot and is well connected by buses.</p>

<p><b>A. From Chennai Central Station</b></p>

<p>The Shaastra team will be sending Institute buses to receive participants at Chennai Central.
The representatives of the Hospitality department will be present to greet you near the exit
of the station. Timings of the buses will be communicated to you.</p>
<p>Alternately if you are unable to come through Institute buses, other means of transportation
are readily available in the city at all times.</p>
<ul>
<li>Local train-If you do not have heavy luggage, the MRTS Station called "Park Town" on
the Beach-Velachery line, opposite to Chennai-Central station, is a good option. From
there, you can take a train to Kasturba Nagar (Adyar) and walk to campus main gate
from the station. From the gate there are IITM buses to the hostels, every 20 minutes.<br></li>
<li>
Local Bus-If you are traveling with light luggage, you can take a city bus to IIT. The bus
stop is opposite to the Central Station. The direct buses to the campus are 19B and 5C.
Alternatively, one can take a bus to Saidapet from central and from there to Adyar signal
followed by a bus to the main gate of the Institute.</li>

<p>Given <input type="button" value="Here" onclick="window.location.href='{{site_url}}static/Buses.pdf'" class="btn btn-inverse"> are a list of buses you can take to reach IITM</p>

<li>Auto/Taxi- There is a good and efficient prepaid taxi service operated by the Chennai
Police available at the Central Station. The booth for the prepaid taxi is just outside
platform no.11. Alternately you can call private taxi services like Fast track. The fare will
be roughly Rs.350-380 for a Taxi and Rs.200-250 for an Auto-rickshaw.</li>
</ul>
<p><b>B. From Chennai Egmore train station</b></p>
<ul>
<li>Local Train- Participants arriving at Egmore station can board a local train from
platform 7 or 8 to “Park” station (the next stop). At Park please change trains and board
a train on the Beach-Velachery line and get down at Kasturba Nagar Station. The main
gate of the campus is at walking distance from the station.</li>

<li>Local Bus-You can catch the MTC bus no. 23C which heads directly to IITM. From the
main gate there are IITM buses to the hostels, every 20 minutes.</li>

<li>Auto/Taxi- If you have heavy luggage we would advise you hire an auto/taxi. Autos
and taxis are available outside the station. Also you can call private taxi services like
fast-track to pick you up outside the station. The auto and taxi fares from Egmore are
approximately Rs.200 and Rs.250-300 respectively.</li>
</ul>
<p><b>C. From Airport</b></p>
<p>To reach the campus from the airport you can hire a Taxi from counters located outside the
airport terminal or catch a local train/bus.</p>
<ul>
<li>Local Train- If you are travelling with light luggage then you could prefer to take a local
train. Board a train on the Tambaram line from Tirusulam Railway station nearby the
airport and travel to “Park” station. Change trains there and board a train on the Beach-
Velachery line to Kasturba Nagar Railway Station which is very near to the Institute
main gate.</li>
<li>Taxi- There are three options:</li>
    <ol>
    <li>A state-government pre-paid taxi, which is quite efficient, with old ambassadors
    for about Rs. 350.</li>
    <li>There are private operators:</li>
    </ol>
        <ul>
        <li>Aviation express, which operates new Taveras and Innovas for Rs. 450-500.</li>
        <li>Fast track, which operates Indicas and Indigos for about Rs. 400.</li>
        </ul>
<li>Local bus-Alternatively you can catch the bus PP21 directly to Institute or 21G to Gandhi Mandapam
which is very near from the main gate of the campus. IITM buses depart every 20 minutes
from the main gate to the Gajendra circle.</li>
</ul>
<p><b>D. From CMBT (Chennai Mofussil Bus Terminus)</b></p>
<p>You can catch bus number 23M or 5E which will drop you off near to the Institute main gate.
You can also hire an auto/taxi for a fare of around Rs.250/300 respectively. From the main gate
there are IITM buses to the hostels, every 20 minutes.</p>
<p>Given <input type="button" value="Here" onclick="window.location.href='{{site_url}}static/Fares.pdf'" class="btn btn-inverse"> are approximate fares from the above mentioned sources to IIT Madras and
contact numbers and basic tariff structure of a few call taxi operators in Chennai.</p>

   </div>                
</div>
<div class="tab-pane fade in" id="shaastradesk">
    <div class="tabtext2 span10 floatleft" id="col2" style="text-align:justify;">
		<p>The Hospitality team at Shaastra is dedicated to help you and attend to all your doubts and
queries throughout your stay with us. Apart from our Reception Desk, the Shaastra Desk -
which forms an indispensable part of Shaastra, will be set up close to the festive area in
order to disseminate information and share the latest news regarding events. It is also the
one stop center to answer all your queries. You can also approach the Shaastra Desk for
other information like updates, event results, daily events, etc. Also, registration for some
of the events takes place at the Shaastra Desk. Please consult the Shaastra website for more
information on the events that have on the spot registration on the Shaastra Desk. For event
registration at the Shaastra Desk, production of the Shaastra ID card is mandatory. The
Shaastra Desk will be functional throughout the day between 9 A.M. to 5 P.M. In case you
have queries and are not nearby the Shaastra Desk or the Reception Desk, you can call us at
the Shaastra Desk on the Hospitality Helpline number. Calls on the helpline number will be
entertained only during the timings when the Shaastra Desk is operational.</p>
   </div>                
</div>
<div class="tab-pane fade in" id="alternateaccomodation">
    <div class="tabtext2 span10 floatleft" id="col2" style="text-align:justify;">
	    <p>Because of limited space on campus, we might not be able to provide accommodation to
all participants who apply for accommodation. In case you don't receive a confirmation
mail regarding your accommodation from the Hospitality team, you could always make
arrangements for your stay outside campus. We have uploaded a list of hotels and lodges for
your reference <input type="button" value="Here" onclick="window.location.href='{{site_url}}static/Alternate_Accommodation.pdf'" class="btn btn-inverse"></p> 	
   </div>                
</div>
<div class="tab-pane fade in" id="uponreaching">
    <div class="tabtext2 span10 floatleft" id="col2" style="text-align:justify;">
		<p>The Institute in itself is located around 2.5 kms inside the campus. Two parallel roads, Bonn
Avenue and Delhi avenue, lead you through the residential zone, under a canopy of green, to
Gajendra Circle (otherwise called GC) and the administrative block. Buses ply between the
gate and other locations on campus at regular intervals. The IITM buses take you to the GC,
academic zone and hostels. We at Shaastra; strive to make your stay with us, as pleasant and
comfortable as we can. Upon reaching the IIT Madras campus, participants are requested to
report to the Reception Desk, which will be operational throughout Shaastra (except from
6:30 P.M. to 8:30 P.M. on all days). Participants will be requested to produce all necessary
documents at the Reception Desk; nominal charges for accommodation will be collected here
depending on the number of days you wish to avail this facility. The Reception Desk will close
on the afternoon of the final day of Shaastra. All participants are required to carry their SAAR
(Shaastra Advanced Accommodation Registration) letter which will be mailed to people whose
accommodation is confirmed<b> along with photocopies of their College IDs and Bonafide
Certificates</b> from their college to avail the accommodation facilities. Participants are also
expected to follow certain Rules and Regulations to help us maintain the decorum in the
Institute as mentioned in the SAAR. To participate in any event at Shaastra, you would need to
report to the Shaastra Desk and a passport will be issued to you.</p>
   </div>                
</div>
<div class="tab-pane fade in" id="faq">
    <div class="tabtext span10 floatleft" id="col2" style="text-align:justify;">
		<p><b>When can I enter the IITM campus?</b></p>
<p>The Institute main gate will be open at all times. You may enter and depart from the campus at
all times. But, please make sure to carry your college id cards for purpose of security check at
the main gate.</p>

<p><b>What should I do after coming to the campus?</b></p>
<p>Outstation participants who have registered for accommodation and received a confirmation
regarding the same are requested to report to the Reception Desk where the required
formalities involving checking of documents and allotment of rooms will be finished. We
shall not be providing accommodation for local participants. All the participants who are
accommodated at IITM are supposed to collect their Shaastra ID Cards from the Hospitality
team.</p>

<p><b>What should I bring with me?</b></p>
<p>1. It is mandatory for all participants to carry <b>College IDs AND Bonafide certificates</b> issued by
your college.</p>
<p>2. If your accommodation is confirmed, you are required to bring a hard copy of the <b>Shaastra
Advanced Accommodation Registration (SAAR)</b> letter which will be mailed to you.</p>
<p>3. Participants are requested to carry your own <b>locks</b>. Please make sure that the locks you get
should have at least 3 keys.</p>
<p>4. Mattresses and pillows shall be provided to you if your accommodation is confirmed.
Participants will have to bring their own things which they require for the events in which they
are participating.</p>

<p><b>What about the accommodation facilities?</b></p>
<p>Accommodation to participants will be provided to outstation participants if they have applied
for accommodation on the Shaastra website and their accommodation has been approved by
us. The rooms will be allotted on a sharing basis due to space constraints. The participants who
have not been confirmed for accommodation are requested to arrange for their stay outside
the Institute in Hotels or lodges. A list of Hotels and lodges in Chennai has been provided in the
<b>“Alternate Accommodation”</b> tab.</p>

<p><b>Will all the team members be given accommodation at the same place?</b></p>
<p>We will strive for that; but we do not guarantee it.</p>

<p><b>What about the charges for accommodation?</b></p>
<p>A nominal payment will have to be made by the participants for accommodation while
registering at Reception Desk. Please note that in case some of your team mates have not been
confirmed for accommodation then the charges for accommodation will be applicable to only
those team mates who have been provided accommodation.</p>

<p><b>Can we adjust the remaining team members of our team in the space provided to us?</b></p>
<p>No, the members of your team who have not been provided accommodation cannot stay in
your allotted rooms. They are requested to stay at nearby hotels or lodges outside the campus.
Security checks will be done and defaulters will be penalized.</p>

<p><b>What about the eating facilities?</b></p>
<p>A variety of food stalls shall be set up in the heart of the festive area which will cater to all your
food requirements. Apart from that, there are other eating outlets in and around the campus
like Cafe Coffee Day, Tiffany's Tiffin centre, Campus Cafe, Zaitoon restaurant & Gurunath.</p>

<p><b>What about the Hospital facility?</b></p>
<p>There is an Institute Hospital located close to Gajendra Circle. In case you fall ill or any of your
team-mates meet with any accident, you are advised to report to us at Reception
Desk immediately. We shall make appropriate arrangements for emergencies to be treated at
the Institute Hospital.</p>

<p><b>What about the security facilities?</b></p>
<p>IITM campus has a vigilant and round-the-clock security service. To ensure the safety of the
participants, there will be additional security guards in hostels in order to avoid thefts and
other mishaps. However, the Shaastra team will not take responsibility of any theft or other
mishaps. Therefore, participants are requested to take care of their belongings.</p>

<p><b>What about certificates and prize money?</b></p>
<p>Prize winning teams will be given certificates and prize money, (if any) from the Prize and
Prize Money Desk (PPM Desk).The prize amount is event-specific and details can be found
out by visiting the events page on the Shaastra website. For some of the major events, all
participants qualifying to the final round will be issued certificates. If you do not win any prize,
participation certificates will be issued at the Shaastra Desk and the Reception Desks. Please
collect it when you leave.</p>

<p><b>One of our team members who had been provided accommodation is unable to come; so
can we replace him with our other team member?</b></p>
<p>First, kindly get approval for replacement of your old team member from the coordinator of
the event in which your team member was supposed to participate. After consulting with the
event coordinator we will inform you whether we will be able to accommodate your new team
member. The new team member coming should have all the documents as mentioned above.</p>

<p><b>Are there ATMs inside the campus?</b></p>
<p>There is a SBI branch and SBI, ICICI and Canara Bank ATMs inside the campus.</p>

<p><b>Is there any internal transport keeping in mind the huge area of the campus?</b></p>
<p>Internal transportation is available inside the campus in form of buses that are available at
various bus stops located throughout the campus.</p>

<p><b>Will there be any kind of transportation facility from airport/railway station to IIT-M
campus for participants?</b></p>
<p>Yes, we will be receiving participants from Chennai central via Institute buses several times a
day. The Hospitality team will be there to receive you. The timings for the buses will be updated
soon in this space.<br>
We look forward to having you at Shaastra 2013 and hope that you have an amazing stay at our
beautiful campus!<br>
<br>
Still have unanswered queries? Check out <a style="color:white" href="http://www.forums.shaastra.org"> www.forums.shaastra.org
</a></p>
   </div>                
</div>
<div class="tab-pane fade in" id="instructions">
    <div class="tabtext2 span10 floatleft" id="col2" style="text-align:justify;">
	<ul>
    <li>We shall provide you with mattresses. However, you are encouraged to carry
your own blankets since it might be a little cold at night.</li>

    <li>At the time of check-out the participants are required to return all the commodities
provided to them.</li>

    <li>Only those participants who have been given accommodation will be allowed to stay</li>

    <li>All student participants must carry their valid College photo ID card. Others must bring their
valid photo identity for the purpose of entry. People without valid photo identity card will
not be allowed inside the campus during Shaastra 2013.</li>

    <li>Alcohol, drugs and explosives of any kind are strictly prohibited inside the campus. Any
other item if deemed unsafe will be prohibited. The decision of Security and Shaastra team
will be final in case of any disputes.</li>

    <li>Kindly keep an eye on your belongings. The Shaastra team will not be responsible in case of any mishaps.</li>
</ul>	
   </div>                
</div>
<div class="tab-pane fade in" id="contact">
    <div class="tabtext2 span10 floatleft" id="col2" style="text-align:justify;">
		<p>For Hospitality related queries, please feel free to reach out the Hospitality team at
hospitality@shaastra.org or paragmanudhane@shaastra.org</p>
<hr>
<p>Parag Manudhane,<br>
Hospitality Core,<br>
Shaastra 2013</p>
   </div>                
</div>
</div>
</div>
</div>
<!--<script language = 'JavaScript' type="text/javascript" src="{{site_url}}static/js/jquery.jscrollpane.min.js" charset = "utf-8"></script>
<script language = 'JavaScript' type="text/javascript" src="{{site_url}}static/js/jquery.mousewheel.js" charset = "utf-8"></script>
-->
