{% extends "dtvpicker/dtvBase.html" %}

{% block dtvTitle %}
    Lock Event | {{ eventRequested }}
{% endblock %}

{% block onScreenPageTitle %} Lock Event: {{ eventRequested }} {% endblock %}

{% block dtvBody %}
    <p>
        If you lock this event, you will no longer be able to make changes to any of the sub-events associated with this event. 
    </p>
    
    <p>
        If you would like to make changes to this event, you will have to contact your core and request your core to unlock the event. It is advised that you check all details in this event and confirm that they are correct before locking.
    </p>
    
    <p>
        Event details:
    </p>

    <table>
        <tr>
            <th> Sub-Event </th>
            <th> Start Date </th>
            <th> Start Time </th>
            <th> End Date </th>
            <th> End Time </th>
            <th> Duration </th>
            <th> Venue </th>
            <th> Last Modified </th>            
        </tr>
        {% for subEvent in subEventList %}
        <tr>
            <td> {{ subEvent.title }} </td>
            <td> {{ subEvent.start_date_and_time|date:"D, d M Y" }} </td>   {# Displays date as Thu 11 Jun 2012 #}
            <td> {{ subEvent.start_date_and_time|date:"P"|upper }} </td>    {# Displays time as 11:15 A.M. or 11 A.M. or NOON #}
            <td> {{ subEvent.end_date_and_time|date:"D, d M Y" }} </td> 
            <td> {{ subEvent.end_date_and_time|date:"P"|upper }} </td>      {# If NOON is creating trouble, change back to "f A" #}
            <td> {{ subEvent.start_date_and_time|timesince:subEvent.end_date_and_time }} </td>
            <td> {{ subEvent.display_venue }} </td>
            <td> {{ subEvent.last_modified }} </td>
        </tr>
        {% endfor %}
    </table>
    
    <p>
        Are you sure you want to lock this event?
    </p>
    
    <form action = "" method = "POST">
        {% csrf_token %}
        <input type = "submit" value = "LOCK">
    </form>
    
    <a href = '{{site_url}}DTVPicker/Summary/'> Cancel </a>
    
{% endblock %}
