<html>
    <head>
    </head>
    <body>
    {% if user.is_authenticated %}
        <h2>Welcome {{ user.first_name }},</h2>
        <a href="{{site_url}}user/events">Events</a>
        {% if user.get_profile.facebook_id %}
        <img src="http://graph.facebook.com/{{ user.get_profile.facebook_id }}/picture" /><br />        
        {% else %}
        <a href="{{site_url}}user/password_change/">Change Password</a>
        {% endif %}
        <a href="{{site_url}}user/editprofile/">Edit Profile</a>        
        <a href="{{site_url}}user/logout/">Logout</a>
        <hr />
    {% endif %}
    {% for e in event %}
            <a href="{{site_url}}events/{{e.title}}">{{ e.title }}</a><br />
    {% endfor %}
    </body>
</html>
