{% extends "events/dtvBase.html" %}

{% block dtvTitle %}
    Landing
{% endblock %}

{% block dtvBody %}
    <p>
        You are seeing this page because all events are locked and cannot be modified further until they are unlocked by the Core team.
        <br/> <br/>
        Use the following links to see / generate PDFs for the events' DTV Summary:
        <table>
            <tr>
                <th> View </th>
                <th> Print PDF </th>
            </tr>
            <tr>
                <td> <a href = '{{site_url}}events/DTVSummary/ByEvent/'> By Event </a> </td>
                <td> <a href = '{{site_url}}events/DTVSummary/ByEvent/generatePDF/'> Print PDF </a> </td>
            </tr>
            <tr>
                <td> <a href = '{{site_url}}events/DTVSummary/ByVenue/'> By Venue </a> </td>
                <td> <a href = '{{site_url}}events/DTVSummary/ByVenue/generatePDF/'> Print PDF </a> </td>
            </tr>
            <tr>
                <td> <a href = '{{site_url}}events/DTVSummary/ByDate/'> By Date </a> </td>
                <td> <a href = '{{site_url}}events/DTVSummary/ByDate/generatePDF/'> Print PDF </a> </td>
            </tr>
        </table>
    </p>
{% endblock %}
