<div id="body">
  <div id="sidemenu">
    <div id="sidemenutitle"><p>{{event.title|cut:"H_"|cut:"B_"|cut:"P_"|cut:"C_"|cut:"Ch_"}}</p></div>
    <ul id="sidemenulist">
    {% for tab in tab_set %}
      <li class="eventtab" id="etab{{forloop.counter}}" value="{{forloop.counter0}}"><p>{{tab.title}}</p></li>
    {% endfor %}
<!--            {% if event.registrable_online == 1 %}
            <li class="eventtab" onclick="$('.eventtab').removeClass('on');$(this).addClass('on');"><p onclick="window.location.href='#submission/{{event.id}}'">Register</p></li>
            {% endif %}-->
    </ul>
  </div>
  <div id="maincontent">
    <div id="textbox">
    {% for tab in tabs %}
      <div class="tabtext" style="color:#FFF;">
      <!-- Tabs -->
      {{tab.0.text|safe}}
      {% if tab.1 %}
	<hr/>
	Downloads:<br>
	<ul>
	{% for file in tab.1 %}
	    <li><a href="{{file.url}}" style="color:#FFF;">{{file.title}}</a></li>
	{% endfor %}
	</ul>
      {% endif %}
      </div>
    {% endfor %}
    </div>
    <div id="q_detail"></div>
    <div id="gallery" class="floatright">
      <div id="picture"><img src="{{event.events_logo}}" />
      </div>
    </div>
  </div>
  <div id="updates">
    <div id="textbox2">
      <h3>Announcements</h3>
<!--        {% if event.registrable_online == 1 %}
            Registration for events will be openend soon.
        {% endif %}-->
      {% for a in announcements %}
<!--          {% if forloop.first %}
              <h3>Announcements</h3>
          {% endif %}-->
	{% if a.event == event and a.expired == 0 %}
	  <p style="font-size:16px;"><b>{{a.subject}}</b> - {{a.description}}<br></p>
	{% endif %}
	{% if forloop.last %}<br>{% endif %}
      {% endfor %}

      {% for u in updates %}
	{% if forloop.first %}
	  <h4>Updates</h4>
	{% endif %}
	{% if u.event == event and u.expired == 0 %}
	  <p><b>{{u.subject}}</b> - {{u.description}}<br></p>
	{% endif %}
      {% endfor %}
    </div>
  </div>
</div>
<script type="text/javascript" >
$(document).ready(function(){
  $(".menu").css({visibility:"hidden"});
  openEvent();
  $('.eventtab').click(function(){
    $('.eventtab').removeClass('on');
    $(this).addClass('on');
    $(".bbq-current .tabtext").hide();
    $(".bbq-current .tabtext:eq("+$(this).attr('value')+")").show();
  });
});
function openEvent(){
  $(".bbq-current .tabtext").hide();
  $(".bbq-current .tabtext:first").show();
  $(".bbq-current .eventtab").removeClass('on');
  $(".bbq-current .eventtab:first").addClass('on');
  var height=$(".tabtext").height();
  
  if(height>400){
                  $("#textbox").jScrollPane({showArrows: true,verticalScroll: true, autoReinitialise: true});}
  /*var height2=$("#textbox2").height();
  if(height2>345){
                  $("#textbox2").jScrollPane({showArrows: true,verticalScroll: true, autoReinitialise: true});}*/
}
</script>