	<div id="body">
   	<div id="sidemenu">
        <div id="sidemenutitle"><p>{{event.title|cut:"H_"|cut:"B_"|cut:"P_"|cut:"C_"|cut:"Ch_"}}</p></div>
        <ul id="sidemenulist">
            {% for tab in tab_set %}
            <li class="eventtab" id="etab{{forloop.counter}}" data-href="#events/{{event|slugify}}/tab/{{tab.title|slugify}}"><p>{{tab.title}}</p></li>
            {% endfor %}
<!--            {% if event.registrable_online == 1 %}
            <li class="eventtab" onclick="$('.eventtab').removeClass('on');$(this).addClass('on');"><p onclick="window.location.href='#submission/{{event.id}}'">Register</p></li>
            {% endif %}-->
        </ul>
    </div>
    <div id="maincontent">
	<div id="textbox">
        <div class="tabtext" style="color:#FFF;">Click on a tab to view it</div>
	</div>
        <div id="q_detail"></div>
        <div id="gallery" class="floatright">
            <div id="picture"><img src="{{event.events_logo}}" />
            </div>
        </div>
    </div>
  <div id="updates">
	<div id="textbox2">
          <h3>Announcements</h3>
          {% if event.begin_registration %}
            <a href="{{site_url}}events/{{event.id}}/register/">Registrations are now open. Click to register.</a>
          {% endif %}

      {% for a in announcements %}
<!--          {% if forloop.first %}
              <h3>Announcements</h3>
          {% endif %}-->
          {% if a.event == event and a.expired == 0 %}
              <p style="font-size:16px;"><b>{{a.subject}}</b> - {{a.description}}<br></p>
          {% endif %}
          {% if forloop.last %}
              <br>
          {% endif %}
      {% endfor %}

      {% for u in updates %}
          {% if forloop.first %}
              <h4>Updates</h4>
          {% endif %}
          {% if u.event == event and u.expired == 0 %}
              <p><b>{{u.subject}}</b> - {{u.description}}<br></p>
          {% endif %}
      {% endfor %}
	</div>
  </div>
</div>
<script type="text/javascript" >
	jQuery(function($) {
	 $(".menu").css({visibility:"hidden"});
});
</script>
<script language = 'JavaScript' type="text/javascript" src="{{site_url}}static/js/scrollevents.js" charset = "utf-8"></script>
<script language = 'JavaScript' type="text/javascript" src="{{site_url}}static/js/jquery.jscrollpane.min.js" charset = "utf-8"></script>
<script language = 'JavaScript' type="text/javascript" src="{{site_url}}static/js/jquery.mousewheel.js" charset = "utf-8"></script>
<script type="text/javascript">
$(document).ready(function(){
    $('.eventtab').click(function(){
        $('.eventtab').removeClass('on');
        $(this).addClass('on');
        window.location.href=$(this).attr('data-href');
    });
});
</script>
