<div id="body">
   	<div id="sidemenu">
    	<div id="sidemenutitle">{{event.title}}</div>
        <ul id="sidemenulist">
            {% for tab in tab_set %}
     		<li><a href="#events/{{event.id}}/tab/{{tab.id}}">{{tab.title}}</a></li>
            {% endfor %}
            <li><a href="#submission/{{event.id}}">Register</a></li>
        </ul>
    </div>
    <div id="maincontent" style="color:#FFF">Click on a tab to view it
    <!--<div id="q_list"></div>
    <div id="q_detail"></div>-->
    <div id="q_detail"></div>
    <div id="gallery">
        <div id="picture"><img src="{{event.events_logo}}" />
        </div>
    </div>
  <div id="updates" class="span3">
		<h4>Announcement</h4>
        {% for u in update %}
            {% if u.event == event and u.category == 'Announcement' %}
                <p><b>{{u.subject}}<b> - {{u.description}}<br></p>
            {% endif %}
        {% endfor %}<br>
        <h4>Updates</h4>
        {% for u in update %}
            {% if u.event == event and u.category == 'Update' %}
                <p><b>{{u.subject}}</b> - {{u.description}}<br></p>
            {% endif %}
        {% endfor %}   
    </div>
</div>