{% extends "base.html" %}
{% block hash_handler %}
<script type="text/javascript">
    $(function(){
        // Keep a mapping of url-to-container for caching purposes.
        var cache = {
            // If url is '' (no fragment), display this div's content.
            '': $('.bbq-default')
        };

        // Bind an event to window.onhashchange that, when the history state changes,
        // gets the url from the hash and displays either our cached content or fetches
        // new content to be displayed.
        $(window).bind( 'hashchange', function(e) {

            // Get the hash (fragment) as a string, with any leading # removed. Note that
            // in jQuery 1.4, you should use e.fragment instead of $.param.fragment().
            var url = $.param.fragment();
            $( '.bbq-item,.bbq-default' ).hide();
            if(!url) {
                $('.bbq-default').show();
                return;
            }
            var event_name=url.split('/tab')[0];
            if(cache[event_name]) {
                var event = cache[event_name];
                if(cache[url]) {
                    event.find(".tabtext").html(cache[url]);
                 		var height = $('.tabtext').height();
                    if(height>400){
                    event.find("#textbox").jScrollPane({showArrows: true,verticalScroll: true, autoReinitialise: true});
                    event.find("#updates").jScrollPane({showArrows: true,verticalScroll: true, autoReinitialise: true});}
                } else {
                    $( '.bbq-loading' ).show();
                    event.find(".tabtext").load("{{site_url}}"+url, function(){
                                // Content loaded, hide "loading" content.
                                		var height = $('.tabtext').height();
                                $( '.bbq-loading' ).hide();
                                if(height>400){
        		        event.find("#textbox").jScrollPane({showArrows: true,verticalScroll: true, autoReinitialise: true});
                		event.find("#updates").jScrollPane({showArrows: true,verticalScroll: true, autoReinitialise: true});}
                                resetabs();
                                cache[url] = event.find(".tabtext").html();
                        });
                }
                event.show();
            } else {
                cache[event_name] = $( '<div class="bbq-item"></div>' ).appendTo( '.bbq-content' );

                // Load external content via AJAX. Note that in order to keep this
                // example streamlined, only the content in .infobox is shown. You'll
                // want to change this based on your needs.
                $( '.bbq-loading' ).show();
                cache[event_name].load("{{site_url}}"+event_name, function(){

                    cache[event_name].find(".tabtext").load( "{{site_url}}"+url, function(){
                                // Content loaded, hide "loading" content.
                                		var height = $('.tabtext').height();
                                		if(height>400){
           		         cache[event_name].find("#textbox").jScrollPane({showArrows: true,verticalScroll: true, autoReinitialise: true});
                		 cache[event_name].find("#updates").jScrollPane({showArrows: true,verticalScroll: true, autoReinitialise: true});}
                                $( '.bbq-loading' ).hide();
                                resetabs();
                                cache[url] = cache[event_name].find(".tabtext").html();
                        });
                    });
            }
        })
        $(window).trigger('hashchange');
    });
</script>
{% endblock %}
{% block footer %}
    <div id="footer">
    <center>
    <div id="stabbox" style="height:130px;width:950px;position:relative;">
    	<div id="stab1" class="stab" style="background:url({{site_url}}static/img/sprite3.jpg) 0 0;">
         <div id="tab1name" class="tabname">
            Bengaluru
            </div>
        </div>
     <div id="stab2" class="stab" style="background:url({{site_url}}static/img/sprite3.jpg) -129px 0;">
            <div id="tab2name" class="tabname">
            Hyderabad
            </div>
        </div>
     <div id="stab3" class="stab" style="background:url({{site_url}}static/img/sprite3.jpg) -258px 0;">
            <div id="tab3name" class="tabname">
            Pune
            </div>
        </div>
     <div id="stab4" class="stab" style="background:url({{site_url}}static/img/sprite3.jpg) -387px 0;">
            <div id="tab4name" class="tabname">
            Coimbatore
            </div>
        </div>
      <div id="stab5" class="stab" style="background:url({{site_url}}static/img/sprite3.jpg) -516px 0;">
            <div id="tab5name" class="tabname">
            Chennai
            </div>
        </div>
     </div>
     </div>
     </div>
    </center>
{% endblock %}
{% block content %}
<div id="content" class="bbq" style="width:100%;">
        <div class="bbq-content">
        <!-- This will be shown while loading AJAX content. You'll want to get an image that suits your design at http://ajaxload.info/ -->
        <div id="loadinggif"class="bbq-loading" style="display:none;">
            <img src="{{site_url}}static/img/loading.gif" alt="Loading"/> Loading content...
        </div>

        <!-- This content will be shown if no path is specified in the URL fragment. -->
	<center>
        <div class="bbq-default" style="height:400px; width:900px; color:#FFF; opacity:0.9; background-color:#222; text-align:left; padding-left:20px;margin-top:20px;">
	<div id="samparktext">
       <p>Samparks are a series of workshops, events, lectures and qualifiers that are held at cities across India in an effort to bring Shaastra closer to everyone. This year, with new and improved events that assure wildcard entries, never before seen demonstrations and much more , the Samparks in your city are something that you can not afford to miss!</p>
<p>&nbsp;</p>
<p>Sampark in Bengaluru will be held on the 16th of September,2012<br>
  College name :- B.N.M Institute of technology<br>
  Website- http://www.bnmit.org/<br>
  Address-<br>
  B.N.M Institute of Technology<br>
  Post Box No. 7087,<br>
  12th Main Road, 27th Cross,<br>
  Banashankari II Stage,<br>
  Bangalore – 560 070.<br>
  <br>
  Phone	 : <br>
  91-80-26711781 <br>
  91-80-26711782 <br>
  Fax	 :	 91-80-26710881<br>
  Email	 :	bnmitprincipal@gmail.com</p>
<p>For any queries :<br>
  Shaastra Representative:<br>
  Suraj Mohan<br>
  91-9940650410</p>
<p>&nbsp;</p>
<p>Sampark in Hyderabad will be held on 23rd of September,2012<br>
  College Name : VASAVI ENGINEERING COLLEGE <br>
  LINK : http://www.vce.ac.in/<br>
  Address : 9-5-81, Ibrahimbagh,<br>
Hyderabad - 500 031, A.P.</p>
<p>For any queries :<br>
  Shaastra Representative:<br>
  VV Hemanth<br>
91-9444885897</p>
        </div>
	</div>
	</center>
        <div class="bbq-item">
        </div>
        </div>
</div>
{% endblock %}
{% block events_menu %}
    {% for city in city_set %}
    <div id="menu{{forloop.counter}}" class="menu" style="
    {% if city == 'Bengaluru' %}margin-left:17%;{% endif %}
    {% if city == 'Hyderabad' %}margin-left:32%;{% endif %}
    {% if city == 'Pune' %}margin-left:43%;{% endif %}
    {% if city == 'Coimbatore' %}margin-left:57%;{% endif %}
    {% if city == 'Chennai' %}margin-left:70%;{% endif %} ">
        	<div id="menutopcolour{{forloop.counter}}" class="menutopcolour">
            </div>
            <div id="menulist{{forloop.counter}}" class="menulist">
            <ul id="menuhead{{forloop.counter}}" class="menuhead">
            {% if city == 'Bengaluru' %}Bengaluru{% endif %}
            {% if city == 'Hyderabad' %}Hyderabad{% endif %}
            {% if city == 'Pune' %}Pune{% endif %}
            {% if city == 'Chennai' %}Chennai{% endif %}
            {% if city == 'Coimbatore' %}Coimbatore{% endif %}
            </ul>
            <ul id="menus{{forloop.counter}}">
                {% if city == 'Bengaluru' %}
                {% for event in bengaluruevents %}
         		    <li onclick="window.location.href='#events/{{event|slugify}}/tab/{{event.tab_set.all.0.title}}'">{{event.title|cut:"B_"}}</li>

                {% endfor %}
                {% endif %}
                {% if city == 'Hyderabad' %}
                {% for event in hyderabadevents %}
         		    <li onclick="window.location.href='#events/{{event|slugify}}/tab/{{event.tab_set.all.0.title}}'">{{event.title|cut:"H_"}}</li>
                {% endfor %}
                {% endif %}
                {% if city == 'Pune' %}
                {% for event in puneevents %}
         		    <li onclick="window.location.href='#events/{{event|slugify}}/tab/{{event.tab_set.all.0.title}}'">{{event.title|cut:"P_"}}</li>
                {% endfor %}
                {% endif %}
                {% if city == 'Chennai' %}
                {% for event in chennaievents %}
         		    <li onclick="window.location.href='#events/{{event|slugify}}/tab/{{event.tab_set.all.0.title}}'">{{event.title|cut:"Ch_"}}</li>
                {% endfor %}
                {% endif %}
                {% if city == 'Coimbatore' %}
                {% for event in coimbatoreevents %}
         		    <li onclick="window.location.href='#events/{{event|slugify}}/tab/{{event.tab_set.all.0.title}}'">{{event.title|cut:"C_"}}</li>
                {% endfor %}
                {% endif %}
      		</ul>
            </div>
        </div>
    {% endfor %}
{% endblock %}
{% block modal %}
<div id="myModal" class="modal fade hide" tabindex="0" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="text-align:left;">
            <div class="modal-body">
            <h2 id="myModalLabel">Contact us</h2><br>
            <h3>Student In-Charge</h3><br>        
        <h4>Sohan Jawale : +91-9952936437</h4>
        <h5>cas@smail.iitm.ac.in</h5> 
        <br>
  		<h3>Sponsorship</h3><br>
        <h4>Asha Chigurupati : +91-9543987685</h4>        
        <h5>asha@shaastra.org</h5>
        <br>
        <h4>Tejas Balasubramanya : +91-8939336379</h4>
        <h5>tejas@shaastra.org</h5>
        <br>
  		<h3>Student Relations</h3><br>
        <h4>Syamantak Basu : +91-9962265947</h4>
        <h5>syamantak@shaastra.org</h5>
				</div>
            <div class="modal-footer">
              <button class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
          </div>
{% endblock %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="static/js/bootstrap-transition.js"></script>
    <script src="static/js/bootstrap-modal.js"></script>
<script language = 'JavaScript' type="text/javascript" src="{{site_url}}static/js/scrollevents.js" charset = "utf-8"></script>
<script language = 'JavaScript' type="text/javascript" src="{{site_url}}static/js/jquery.jscrollpane.min.js" charset = "utf-8"></script>
<script language = 'JavaScript' type="text/javascript" src="{{site_url}}static/js/jquery.mousewheel.js" charset = "utf-8"></script>
