{% extends "base.html" %}
{% block hash_handler %}
<script language = 'JavaScript' type="text/javascript" src="{{site_url}}static/scripts/slides.min.jquery.js" charset = "utf-8"></script>
<script type="text/javascript">
  $(function(){
    // Keep a mapping of url-to-container for caching purposes.
    var cache = {
      // If url is '' (no fragment), display this div's content.
      '': $('.bbq-default')
    };
    // Bind an event to window.onhashchange that, when the history state changes,
    // gets the url from the hash and displays either our cached content or fetches
    // new content to be displayed.
    $(window).bind( 'hashchange', function(e) {
      // Get the hash (fragment) as a string, with any leading # removed. Note that
      // in jQuery 1.4, you should use e.fragment instead of $.param.fragment().
      var url = $.param.fragment();
      if(url[0] == '!')
	url = url.slice(1);
      var event_name = url.split('/')[0] + '/' + url.split('/')[1], tab_name = url.split('/')[2];

      $( '.bbq-item,.bbq-default,#generalContents' ).hide();
      if(!url || url=='_=_') {
	$('.bbq-default').show();
	$('#tabbox').css('visibility','hidden');
	$('#body').removeClass('bg1');
	return;
      }
      $('.bbq-loading').show();
      if(url=='events'||url=='hospi') {
	$('#generalContents').load(url,function(){
	  $('.bbq-loading').hide();
	  $('#generalContents').show();
	});
	if(url=='hospi'){
	  $("#body").removeClass('bg1');
	}
	if(url=='events') {
	  $('#tabbox').css({'visibility':'visible','left':'-1000px'}).animate({'visibility':'visible','left':'0px'});
	  $('#body').addClass('bg1');
	} else {
	  $(".menu").css({visibility:"hidden"});
	  $('#tabbox').css({visibility:"hidden"});
	 // $("#generalContents .tabtext").jScrollPane({showArrows: true,verticalScroll: true, autoReinitialise: true});
	}
	return;
      }
      $(".bbq-item").removeClass("bbq-current");
      if(cache[event_name]) {
	cache[event_name].show();
	cache[event_name].addClass("bbq-current");
	if(tab_name){
	  $(".bbq-current .tabtext").hide();
	  $(".bbq-current").find("#"+tab_name).show();

	} else {
	  openEvent();
	}
	$('.bbq-loading').hide();
      } else {
	cache[event_name] = $( '<div class="bbq-item bbq-current"></div>' ).appendTo( '.bbq-content' );

	// Load external content via AJAX. Note that in order to keep this
	// example streamlined, only the content in .infobox is shown. You'll
	// want to change this based on your needs.
	cache[event_name].load( "{{site_url}}" + event_name, function(){
	  if(tab_name){
	    $(".bbq-current .tabtext").hide();
	    $(".bbq-current").find("#"+tab_name).show();

	  } else {
	    openEvent();
	  }
	  $( '.bbq-loading' ).hide();
	  resetabs();
	});
      }
    })
    $(window).trigger('hashchange');
  });
</script>
<script>
		$(function(){
			$('#slides').slides({
				preload: true,
				preloadImage: '{{site_url}}static/img/loading.gif',
				play: 3000,
				pause: 3000,
				hoverPause: true,
				pagination:false,
				generatePagination:false
			});
		});
</script>
<style type="text/css" media="screen">
            .slides_container {
            	margin-top:10px;
                width:900px;
                height:375px;
            }
            .slides_container div {
                width:900px;
                height:375px;
                display:block;
            }
</style>
<link rel="stylesheet" type="text/css" href="{{site_url}}static/css/sshow.css"  />
{% endblock %}
{% block footer %}
    <div id="footer">
    <center>
    <div id="stabbox" style="height:130px;width:950px;position:relative;">
    	<div id="stab1" class="stab" style="background:url({{site_url}}static/img/thumb1.jpg);" onclick="window.location.href='http://www.shaastra.org/2013/main/events/shows/#!events/air-show'">
         <div id="tab1name" class="tabname">
            Air Show
            </div>
        </div>
     <div id="stab2" class="stab" style="background:url({{site_url}}static/img/thumb2.jpg);" onclick="window.location.href='http://www.shaastra.org/2013/main/events/shows/#!events/research-expo'">
            <div id="tab2name" class="tabname">
            Research Expo
            </div>
        </div>
     <div id="stab3" class="stab" style="background:url({{site_url}}static/img/thumb3.jpg);" onclick="window.location.href='http://www.shaastra.org/2013/main/events/shows/#!events/shaastra-nights'">
            <div id="tab3name" class="tabname">
            Shaastra Nights
            </div>
        </div>
     <div id="stab4" class="stab" style="background:url({{site_url}}static/img/thumb4.jpg);" onclick="window.location.href='http://www.shaastra.org/2013/main/events/shows/#!events/shaastra-exhibitions'">
            <div id="tab7name" class="tabname">
            Shaastra Exhibitions
            </div>
        </div>
     </div>
     </div>
     </div>
    </center>
{% endblock %}
{% block content %}
<div id="content" class="bbq" style="width:100%;">
        <div class="bbq-content">
        <!-- This will be shown while loading AJAX content. You'll want to get an image that suits your design at http://ajaxload.info/ -->
        <div id="loadinggif"class="bbq-loading" style="display:none;">
            <img src="{{site_url}}static/img/loading.gif" alt="Loading"/> Loading content...
        </div>
        <!-- This content will be shown if no path is specified in the URL fragment. -->
	<center>
        <div class="bbq-default" style="height:425px; width:900px; color:#FFF; opacity:0.9; background-color:#222; text-align:left; padding:0px 20px;margin-top:10px;">
     <div id="new" style="width:100%;cursor:auto;"><marquee>Click on each Show for details </marquee></div>	
	<div id="samparktext">
        <div id="slides">
            <div class="slides_container">
                <div>
                    <img src="{{site_url}}static/img/shows/1.jpg">
                </div>
                <div>
                    <img src="{{site_url}}static/img/shows/2.jpg">
                </div>
                <div>
                    <img src="{{site_url}}static/img/shows/3.jpg">
                </div>
                <div>
                    <img src="{{site_url}}static/img/shows/4.jpg">
                </div>
                <div>
                    <img src="{{site_url}}static/img/shows/5.jpg">
                </div>
                <div>
                    <img src="{{site_url}}static/img/shows/6.jpg">
                </div>
                <div>
                    <img src="{{site_url}}static/img/shows/7.jpg">
                </div>
                <div>
                    <img src="{{site_url}}static/img/shows/8.jpg">
                </div>
                <div>
                    <img src="{{site_url}}static/img/shows/9.jpg">
                </div>
                <div>
                    <img src="{{site_url}}static/img/shows/10.jpg">
                </div>
                <div>
                    <img src="{{site_url}}static/img/shows/11.jpg">
                </div>
                <div>
                    <img src="{{site_url}}static/img/shows/12.jpg">
                </div>
            </div>
        </div>
        </div>
	</div>
	</center>
        <div class="bbq-item">
        </div>
        </div>
</div>
{% endblock %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="static/js/bootstrap-transition.js"></script>
<script src="static/js/bootstrap-modal.js"></script>
