{{ username }} 
Thank You for registering for Shaastra 2013!

To activate your account, click (or copy-paste into the address bar of your browser) the following link within 48 hours:

{{ SITE_URL }}user/register/activate/{{ activationkey }}/

You will be able to login only after your account has been activated.

Your login username is {{ username }} and password is as you entered when you registered.

If you would like world class internships to be delivered in your inbox, visit http://www.internshala.com/?utm_source=Shaastra2013_email

Cheers,
The Shaastra WebOps Team

This mail has been sent from an automated mailer. Please do not reply to it.
