File:{{actual_name}}
<form id="file_rename" action="" method="post"> {% csrf_token %}
    Name: <input type="text" value="{{f.title}}" name="display_name" id="display_name"/>
    <input type="button" value="Change Name" onclick="rename_file({{f.id}});"/> 
</form>

<div id = "file_list"><div id="file">{% for file in file_list %}<a href="{{file.url}}">{{file.title}}</a>
<a href="#" id="delete_file" onclick="Dajaxice.events.delete_file(Dajax.process,{'tab_id':'{{tab.id}}','file_id':'{{file.id}}'})">delete</a>
<a href="#" id="rename" onclick="Dajaxice.events.rename_file(Dajax.process,{'tab_id':'{{tab.id}}','file_id':'{{file.id}}'})">rename</a>{% endfor %}</div></div>
