upload files for {{tab.title}}
<form id="TabFileForm" action="/coord/tabfile/" method="post" enctype="multipart/form-data"> {% csrf_token %}
    Display name: <input type="text" name="display_name" id="display_name"/> 
    file: <input type="file" id="thefile"/>
    <input type="button" value="Upload File" onclick="File({{tab.id}});"/> 
</form>

<div id = "file_list"><div id="file">{% for file in file_list %}<a href="{{file.url}}">{{file.title}}</a>
<a href="#" id="delete_file" onclick="Dajaxice.events.delete_file(Dajax.process,{'tab_id':'{{tab.id}}','file_id':'{{file.id}}'})">delete</a>
<a href="#" id="rename" onclick="Dajaxice.events.rename_file(Dajax.process,{'tab_id':'{{tab.id}}','file_id':'{{file.id}}'})">rename</a>{% endfor %}</div></div>
<div id = "uploading"></div>
