MCQs:<br /> 
{% for q in mcqs %}
{{q.q_number}}.{{q.title}}<br />
{% for option in q.mcqoption_set.all %}
{{option.option}}:{{option.text}}<br />
{% endfor %}
<div onclick="Dajaxice.events.manage_options(Dajax.process, {'ques_id':{{q.id}}})">Edit Choices</div>
<div onclick="Dajaxice.events.edit_mcq(Dajax.process, {'ques_id':{{q.id}}})">Edit</div>
<div onclick="delete_mcq({{q.id}});">Delete</div>
<br />
{% endfor %}
<div onclick = "Dajaxice.events.add_mcq(Dajax.process)">
Add MCQ</div>
<br /><br />

Subjectives:<br />
{% for q in text_questions %}
{{q.q_number}}.{{q.title}}
<div onclick="Dajaxice.events.edit_subjective(Dajax.process, {'ques_id':{{q.id}}})">Edit</div>
<div onclick="delete_sub({{q.id}});">Delete</div><br />
{% endfor %} 
<div onclick = "Dajaxice.events.add_subjective(Dajax.process)">
Add Subjective</div>
<br />
