MCQs:<br/>
{% for q in mcqs %}
    <p>
    {{q.q_number}}.{{q.title}}<br />
    {% for option in q.mcqoption_set.all %}
        {{option.option}}:{{option.text}}<br />
    {% endfor %}
    <a href="#questions/edit_mcq/{{q.id}}" >Edit</a>
    <a href="#" onclick="delete_mcq({{q.id}});">Delete</a>
{% endfor %}
<p>
<a href="#questions/add_mcq" >Add MCQ</a>

<p>
Subjectives:<br />
{% for q in text_questions %}
    {{q.q_number}}.{{q.title}}
    <a href="#" onclick="Dajaxice.events.edit_subjective(Dajax.process, {'ques_id':{{q.id}}})">Edit</a>
    <a href="#" onclick="delete_sub({{q.id}});">Delete</a><br />
{% endfor %}
<p>
<a href="#" onclick = "Dajaxice.events.add_subjective(Dajax.process)">Add Subjective</a>
