<b>Title</b>:{{tab.title}}</br>
<b>Text</b>:{{tab.text|safe}}</br>
<b>Files:</b>
<div id="file">
    {% for file in file_list %}
        <p>
        <a href="{{file.url}}" >{{file.title}}</a><br>
        <button id="delete_file" onclick="Dajaxice.events.delete_file(Dajax.process,{'tab_id':'{{tab.id}}','file_id':'{{file.id}}'})">Delete</button>
            <a href="#customtabs/files/rename/{{tab.id}}/{{file.id}}" id="rename">Rename</a><br>
    {% endfor %}
    <p>
    <a href="#customtabs/files/{{tab.id}}" name="add_file" >Add a file</a>
</div>

<p>
<a href="#customtabs/edit/{{tab.id}}" name="edit" id="{{tab.title}}" >Edit Tab</a>
<button name="delete" onclick="delete_tab({{tab.id}})">Delete Tab</a>

