{% extends "dtvpicker/dtvBase.html" %}

{% block dtvTitle %}
    {% ifequal form_mode 'add' %}
        {{ eventRequested.title }} | Add Sub-event
    {% else %}
        {{ eventRequested.title }} | Edit Sub-event | {{ subeventRequested.title }}
    {% endifequal %}
{% endblock %}

{% block onScreenPageTitle %} Event: {{ eventRequested }} {% endblock %}

{% block dtvBody %}
    <p>
        {% ifequal form_mode 'add' %}
            <h4>Add Sub-Event:</h4>
        {% else %}
           <h4> Edit Sub-Event "{{ subeventRequested.title }}":</h4>
        {% endifequal %}
    </p>
    {% if form.errors %}
        <p style="color:#9d261d;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}

    <form action="" method="POST">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>

        <input type="submit" value="Save">
        
    </form>
    
    <a href = '{{site_url}}DTVPicker/Summary/' class="btn btn-inverse atag" style="width:60px;"> Cancel </a>
    
{% endblock %}
